[2014-10-25 00:25] jhbush opened #1 "Adding additional packages fails"
When adding additional packages the build fails to begin. It displays a dialog box saying the packages can't be found. I moved the .pkg files to a folder rather than the desktop, but that failed as well. Building 10.9.5 NBI.

[2014-11-06 20:39] macmule opened #2 "ARD Passwords fail with &"
ARD passwords with &'s fail to write to plist or is written but fails on decode

[2014-11-06 20:45] #2 closed, assigned to macmule

[2014-11-07 01:02] calum-github opened #3 "NBImageInfo.plist is binary & includes most hardware as disabled"
So i've created a couple images with AutoCasperNBI and the NBImageInfo.plist seems to be created in a binary format not straight text xml. This is a problem if i transfer this NBI to a netboot server thats not a mac ie BSDPy as it is unable to parse the binary format.

Is it possible to convert the NBImageInfo.plist into XML?
Also SIU does this as well but is there anyway to remove all of the disa

[2014-11-07 04:45] hunty1 opened #4 "Enhancement: Reduce DMG size further by using .sparseimage"
Hey just a suggestion that it should be possible to further reduce the filesize of the finished DMG by converting it to a sparseimage [ hdiutil convert -format UDSP /path/NetBoot.dmg -o /outputPath/NetBoot.sparseimage ]
This can be symlinked ala Deploy studio to NetBoot.dmg inside the nbi folder so you have
NetBoot.dmg -> NetBoot.sparseimage

This should take the filesize down from around 7.5Gb to

[2014-11-07 16:44] MScottBlake opened #5 "Additional Certs stored as string, not array"
The additionalCerts key in the plist file is being stored as a string instead of an array. When you add a second cert, it is overwriting the original.

To work around this, I have to close the options window, then manually change it to an array, and then add my cert paths as strings.

[2014-11-11 23:32] #3 closed, assigned to macmule

[2014-11-12 18:34] kevinstrick opened #6 "Creating read only DMGs, option unchecked"
I've noticed most of my netboot DMG files seem to be created as read-only,
but the option to "Create Read-Only DMG" is not checked under advanced options

[2014-11-21 04:11] #5 closed, assigned to macmule

[2014-11-21 22:33] macmule opened #8 "10.10.1 iCloud and Diagnostics popup"
From: https://jamfnation.jamfsoftware.com/discussion.html?id=11356#responseChild73581

[2014-11-22 12:43] #8 closed, assigned to macmule

[2014-11-22 12:44] #1 closed, assigned to macmule

[2014-11-22 16:21] MScottBlake opened #10 "Enhancement: Check for updates before creds"
If you open an outdated version, the window asking for admin credentials comes up first, then behind it is a window saying it is out of date. It would be nice if the update check happened first and halts the rest of the load until it is complete.

[2014-11-23 22:16] tommyday opened #11 "Creating 10.7 NBI"
Ben, I created 10.10.1 and 10.9 nbi sets perfectly this wkd, but I'm running into some trouble with 10.7. The error I get when I click "build" is "Error: failed to create netboot.dmg". No further details in log that I can tell. I downloaded the Lion installer from the app store, pulled the InstallESD.dmg file out and loaded that into AutoCasperNBI. Did I do something wrong here with Lion?

[2014-11-24 00:48] #11 closed, assigned to nobody

[2014-11-24 16:49] #6 closed, assigned to nobody

[2014-11-24 22:17] macmule opened #12 "Netboot Image Index field. Any attempt to change the number will cause dialog "Maximum Exceeded - Please provide a valid value""
As per: https://jamfnation.jamfsoftware.com/discussion.html?id=11356#responseChild73710

Hi @bentoms,

I have been meaning to report an issue with the Netboot Image Index field. Any attempt to change the number will cause dialog "Maximum Exceeded - Please provide a valid value" This happens with any number supplied (all within the defined range) and with and without the checkbox for "Will be serve

[2014-11-27 23:20] #12 closed, assigned to macmule

[2014-11-27 23:23] macmule opened #13 "Enable Disk Utilities debug mode"
Requested via macmule.com:

<---snip--->

I had one small point I wished to offer, because I always bring this
up when I talk about imaging systems with complex partitions
(FileVault, Boot Camp, etc).

defaults write com.apple.DiskUtility DUDebugMenuEnabled -bool true

This turns on the elusive Debug Menu (durr), which allows for the
"Show Every Partition" option to be set. This flag can also be
d

[2015-01-23 22:09] rhs615 opened #14 "Cannot get it to work"
First, taking a fresh OS.dmg file (actually got it from a JAMF CCA course), I get the error of Could Not Find OS Version. If I mount the DMG before opening AutoCasperNBI, it gives me the green light, however it sees the version of my OS, not the mounted DMG. I then get green lights on everything and go to build to my desktop and it fails everytime with Error: Cannot copy contents of to '/Volumes/A

[2015-01-23 22:24] macmule commented on #14
Hi Randall,

Can you mount the DMG via Finder?

AutoCasperNBI attempts to read the OS version information from /System/Library/CoreServices/SystemVersion.plist. Is that present?

Regards,

Ben.

[2015-01-23 23:07] rhs615 commented on #14
Hi Ben,

I just reran the installer through AutoPKG, and it appears to be working now! I guess it was a corrupt .dmg somehow?

Thanks for the help!

Randy Shore

[2015-01-23 23:09] macmule commented on #14
Yea it seems to be the way.

Hmm.. I'm working on the next version, i'll see if I can get some better errors when mounting fails.

You wouldn't happen to be able to upload the "bad" OS.dmg somewhere that I could download it?

Regards,

Ben.

[2015-01-25 20:13] macmule commented on #4
Hi Hunty1,

As mentioned on twitter, I had made some changes to AutoCasperNBI to move to sparse images.. only to find that JAMFs NetSUS appliance currently doesn't support sparse images without some modification (https://github.com/jamf/NetSUS/issues/53).

AutoCasperNBI generated NBI will be mostly hosted on an OSX Server or NetSUS, as such I'm going to leave the image format as a DMG until the ab

[2015-01-27 23:41] hunty1 commented on #4
Roger that. I must admit I did not do any testing with NetSUS, I only use BSDPy these days. Considering the app is called Auto_CASPER_NBI, really should consider who the target market is and what NetBoot Server they are going to use and maximise compatibility for that. I'm probably an outlier... until the people see the light and switch to bsdpy ;) Appreciate your efforts especially considering it

[2015-01-27 23:46] hunty1 opened #15 "NetBoot Image Description does not get written to NBImageInfo.plist"
Not a big deal by any means but I've noticed that any text entered into the NetBoot Description field does not make it into the final NBImageInfo.plist.

Only the auto generated text gets written out to the NBImageInfo.plist

![screen shot 2015-01-28 at 10 45 18 am](https://cloud.githubusercontent.com/assets/7887711/5929730/c796c308-a6da-11e4-87fb-a08cb300d2f8.png)

[2015-01-28 00:20] hunty1 commented on #4
Just for my own curiosity I grabbed the NetSUS 3.0.2 OVA

Used the beta of autocaspernbi you sent me to create an NBI with a sparseimage
I simply renamed NetBoot.reduced.sparseimage to NetBoot.reduced.dmg
Uploaded the .nbi folder to the NetSUS and was able to successfully netboot client machines.

[2015-02-26 18:29] peterquest opened #16 "10.9.x NBI created in 10.10.x won't boot"
Created a 10.9.5 NBI using a base OS.dmg created with AutoDMG on a machine running 10.10.2.

Any time I try to boot using this nbi, I get 'Error loading kernelcache (0xe)' despite the fact that kernelcache is in the proper location with the proper permissions.

[2015-02-26 18:33] justinrummel commented on #16
I thought best practices would be use the same OS for all.  Thus:

While running Mavericks, create a OSX-10.9.5.dmg via AutoDMG, then create a 10.9.5 nbi using AutoCasperNBI.

[2015-02-26 19:11] peterquest commented on #16
I knew that was the case for AutoDMG, but I wasn't sure if that applied to AutoCasperNBI as well (though I'm not sure why it wouldn't..)

I can confirm that using a 10.10.1 OS.dmg worked as intended.

[2015-02-26 19:22] peterquest commented on #16
from ##osx-server on freenode:

11:10 <@macmule> p_q: cool.. so it's 10.10 creating a 10.9 NBI then.. please log an issue!
11:11 <@macmule> p_q: i suspect the issue is the cache reduction i put in

for contextual bread crumbs :P

[2015-02-28 14:02] macmule commented on #16
As mentioned on JN, same OS isn't needed.

As mentioned on IRC, i'll remove the cache reduction on 10.10 & will add to the beta of the next release (there are a few things in there).

[2015-02-28 14:03] #14 closed

[2015-02-28 14:06] macmule commented on #10
Fixed in 1.1.5, new behaviour is that Admin creds are only requested when building NBI & not on launch.

[2015-02-28 14:06] #10 closed

[2015-02-28 14:12] macmule opened #17 "Put Casper Imaging Debug mode"
To put Imaging in debug mode:

/Applications/Casper Imaging.app/Contents/Support/debug

[2015-02-28 14:14] macmule opened #18 "AutoCasperNBI reading MB as GB when calculating space"
See: https://jamfnation.jamfsoftware.com/discussion.html?id=13516

[2015-03-01 07:50] macmule commented on #16
Ok, well seems that YoYo has changed the compression format for kernelcache.. A bread crumb to follow, perhaps:

https://pikeralpha.wordpress.com/2014/06/04/os-x-10-10-yosemite-dp1-kernelcache/

[2015-03-01 12:01] macmule commented on #16
Ok, I think I have found a workaround.

Can you try:

sudo /usr/bin/hdiutil attach /Library/NetBoot/NetBootSP0/<NBI_NAME>.nbi/NetBoot.dmg -owners on

sudo touch /Volumes//<NBI_NAME>/System/Library/Extensions

sudo /Volumes/10.9.5\ Sun\ 010315/usr/sbin/kextcache -arch x86_64 -L -N -K /Volumes/1/<NBI_NAME>/mach_kernel -c /Library/NetBoot/NetBootSP0//<NBI_NAME>.nbi/i386/x86_64/kernelcache /Volumes//<

[2015-03-01 21:11] macmule commented on #18
Tested on a 2014 Mac Mini & could not reproduce.

[2015-03-01 21:12] macmule commented on #18
Tested creating NBI's on a 2014 Mac Mini with 1TB Fusion drive & had no issues.

[2015-03-01 23:12] macmule opened #19 "Correct typo in TimeMachine ToolTip"
https://twitter.com/macmuleblog/status/572169537367490562

[2015-03-01 23:14] macmule commented on #19
Fixed in 1.1.5

[2015-03-01 23:14] #19 closed

[2015-03-02 00:26] hunty1 commented on #18
Just as another data point :)
I've created all of my NBI's with AutoCasperNBI on an iMac with a fusion drive running 10.9.5. No issues creating 10.9 or 10.10 NBI's

[2015-03-02 13:07] macmule commented on #17
In 1.1.5

[2015-03-02 13:07] #17 closed

[2015-03-02 13:07] macmule commented on #13
In 1.1.5

[2015-03-02 13:07] #13 closed

[2015-03-02 13:11] macmule commented on #16
Resolved in 1.1.5, seems a change with 10.10.2's kextcache as it was erroring on unsigned kext's in 10.9.x.

Resolution was to use the kextcache found on the NBI we're creating.

[2015-03-02 13:11] #16 closed

[2015-03-02 19:27] macmule opened #20 "Change Add Packages/Certs to remember last location & not always change."

[2015-03-02 19:38] macmule commented on #20
Changed in 1.1.5

[2015-03-02 19:38] #20 closed

[2015-03-03 21:23] neilmartin83 opened #21 "There's a toolbar missing..."
I think AutoCasperNBI could reach the next level if the Ask Toolbar was integrated with it. I'd love to be able to get answers to life's annoying questions whilst waiting for those pesky NetBoot Images to generate! Questions like "where did I leave my keys?", "when spreading peanut butter on toast, is it better to put butter on first or not have any butter at all?", "what came first, the chicken o

[2015-03-03 22:05] macmule opened #22 ""Cannot Read OS Version" from Composer captured OS.dmg's"
Take an AutoDMG OS.dmg > Restore  > Mount > Capute OS via Composer > unmount > try & open in AutoCasperNBI. Errors "Cannot Read OS Version"

[2015-03-03 22:25] rderewianko commented on #21
+1 to this.

[2015-03-04 00:30] macmule commented on #18
From dmw3:

info /dev/disk2s2
   Device Identifier:        disk2s2
   Device Node:              /dev/disk2s2
   Part of Whole:            disk2
   Device / Media Name:      disk image

   Volume Name:              Macintosh HD

   Mounted:                  Yes
   Mount Point:              /Volumes/Macintosh HD 1

   File System Personality:  HFS+
   Type (Bundle):            hfs
   Name (User Visi

[2015-03-04 17:07] macmule commented on #22
Ok.. so the issue seems to be the grep before awk, & bas assumptions I had made in that: https://github.com/macmule/AutoCasperNBI/blob/master/AutoCasperNBI/AutoCasperNBIAppDelegate.applescript#L513

Basically, a Composer captured OS.dmg contains JUST the OS partition. So hdiutil attach output looks like:

/usr/bin/hdiutil attach ~/Desktop/ComposerHD.dmg
expected   CRC32 $A02AE580
/dev/disk2

[2015-03-04 17:26] macmule commented on #22
![alt text](https://pbs.twimg.com/media/B-jEGR7CQAAo3KW.png:large "Logo Title Text 1")

[2015-03-04 23:01] macmule commented on #4
In 1.1.5

[2015-03-04 23:01] #4 closed

[2015-03-05 21:20] #22 closed

[2015-03-05 21:20] macmule commented on #22
fixed in 1.1.5

[2015-03-07 15:41] macmule commented on #18
Fixed in 1.1.5.

Volumes presenting space in MB now return free space as 0GB

[2015-03-07 15:41] #18 closed

[2015-03-07 15:41] macmule commented on #15
Fixed in 1.1.5, it was a mess in there tbh.

[2015-03-07 15:41] #15 closed

[2015-03-07 15:42] macmule opened #23 "Add timeout for JSS URL"

[2015-03-07 15:42] macmule commented on #23
30 second timeout added in 1.1.5

[2015-03-07 15:42] #23 closed

[2015-03-07 15:44] macmule opened #24 "Automatically Compact NetBoot Image"

[2015-03-07 15:45] macmule commented on #24
Added to 1.1.5 as we've moved to a sparseimage

[2015-03-07 15:45] #24 closed

[2015-03-07 15:45] macmule opened #25 "Automatically Expand Image"

[2015-03-07 15:45] macmule commented on #25
Added to 1.1.5 as we've moved to a sparseimage

[2015-03-07 15:45] #25 closed

[2015-03-07 15:46] macmule opened #26 "Update Icons for JSS 9.6"

[2015-03-07 15:46] macmule commented on #26
Updated in 1.1.5

[2015-03-07 15:46] #26 closed

[2015-03-07 15:46] macmule opened #27 "Remove status blobs"

[2015-03-07 15:47] macmule commented on #27
Blobs removed in 1.1.5 as moved to rounded icons for JAMF stuffs

[2015-03-07 15:47] #27 closed

[2015-03-07 15:47] macmule opened #28 "Detail everything in "Always Set" section"

[2015-03-07 15:48] macmule commented on #28
Always set section moved to under options tag, whole list there.

![screen shot 2015-03-07 at 15 44 04](https://cloud.githubusercontent.com/assets/2464974/6541958/6408b6f0-c4e1-11e4-85cf-451c16532298.png)

[2015-03-07 15:48] #28 closed

[2015-03-07 15:51] macmule opened #29 "Move to GitHub releases page & big button on https://macmule.com/AutoCasperNBI"

[2015-03-07 15:51] macmule commented on #29
done!

[2015-03-07 15:51] #29 closed

[2015-03-07 16:11] macmule opened #30 "So much un-unused Code.. me thinks it's time to delete!"
With 1.1.5's release & the move to sparse images, there are a fair few lines of code that are un-needed (such as 4758 - 4852).

This will be removed post 1.1.5 testing & will be removed for 1.1.6.

[2015-03-07 16:13] macmule opened #31 "Replace inputLayoutID with XIB's Tag ID"
Lines 4171 - 4425 could be removed by grabbing the XIB's Tag ID & using that as the inputLayoutID

[2015-03-07 16:17] macmule opened #32 "Sort out the bloody progress bar, proper like!"
Currently the progress bars values are set to arbitrary values that I've set.

Instead each increment should be per option chosen plus what's always set.

[2015-03-07 16:34] macmule opened #33 "With additional PKG's & Cert's don't revert window"

[2015-03-07 16:35] macmule commented on #33
Revertion removed in 1.1.5

[2015-03-07 16:35] #33 closed

[2015-03-07 16:35] macmule opened #34 "Some PKG's cannot be added"

[2015-03-07 16:36] macmule commented on #34
Seems a bug in AppleScripts bundle type, change to file extension in 1.1.5

[2015-03-07 16:36] #34 closed

[2015-03-07 20:19] macmule commented on #4
To expand apon the above, a sparseimage is now created.

As NetSUS doesn't support sparseimages, the NBI is renamed .dmg if "Hosted on NetSUS" is ticked.

[2015-03-07 23:23] macmule opened #35 "Create ARD user on NBI itself & not via LaunchDaemon"
Following the examples in Apple's SIU scripts.

[2015-03-09 20:40] macmule opened #36 "Re-enable build buttons when trying to build & out of space"

[2015-03-10 18:02] macmule commented on #36
In 1.1.6

[2015-03-10 18:02] #36 closed

[2015-03-10 18:03] macmule commented on #30
Around 1k lines deleted in 1.1.6

[2015-03-10 18:03] #30 closed

[2015-03-10 18:04] macmule opened #37 "Diagnostics setup assistant showing on 10.10"

[2015-03-10 18:04] macmule commented on #37
In 1.1.6 AutoCasperNBI now deletes the "Setup Assistant.app"

[2015-03-10 18:04] #37 closed

[2015-03-14 15:51] macmule commented on #31
In 1.1.7

[2015-03-14 15:51] #31 closed

[2015-03-14 15:52] macmule commented on #31
Resolution came from @mikeymikey/pudquick/frogor

[2015-03-23 22:25] macmule opened #38 "JSS URL not written to plist in 1.1.6"
As per https://jamfnation.jamfsoftware.com/discussion.html?id=13839 it seems that with the pre-release 1.1.6 the JSS URL is not being written.

[2015-03-23 22:25] macmule commented on #32
In 1.1.7

[2015-03-23 22:25] #32 closed

[2015-03-23 22:28] macmule opened #39 "1.1.6 Permissions incorrect on NBImage.plist post NetSUS DMG amendment"

[2015-03-23 22:28] macmule commented on #39
fixed in 1.1.7

[2015-03-23 22:28] #39 closed

[2015-03-23 22:34] macmule commented on #38
fixed in 1.1.7

[2015-03-23 22:34] #38 closed

[2015-03-23 22:40] macmule opened #40 "Correct typo in proccess variables"

[2015-03-23 22:40] macmule commented on #40
Corrected in 1.1.7

[2015-03-23 22:40] #40 closed

[2015-03-23 22:40] macmule opened #41 "Add refresh button for JSS URL"

[2015-03-23 22:41] macmule commented on #41
Added in 1.1.7

[2015-03-23 22:41] #41 closed

[2015-03-24 01:25] MScottBlake opened #42 "Hidden content in success popup"
In version 1.1.7, this is what the Success popup looks like:
![screenshot 2015-03-23 21 21 56](https://cloud.githubusercontent.com/assets/945258/6793995/e5473980-d1a2-11e4-99af-aa365e60c145.png)

[2015-03-24 09:40] macmule opened #43 "Options greyed out when Imaging.app selected before OS.dmg"
https://jamfnation.jamfsoftware.com/discussion.html?id=13516#responseChild83065

![43ac533018844474922a0e5118ba5b48](https://cloud.githubusercontent.com/assets/2464974/6798932/c177d728-d209-11e4-9f82-a95ba0693e58.png)

[2015-03-24 15:34] macmule opened #44 "Update macmule.com/AutoCasperNBI"
To be updated with full release, need to remember to add:

"By default, hdiutil attach attempts to intelligently verify images that contain checksums before attaching them.  If hdiutil can write to an image it has verified, attach will store an attribute with the image so that it will not be verified again unless its timestamp changes.  To maintain backwards compatibility, hdid(8) does not attempt

[2015-03-30 06:34] TGBX commented on #22
When will 1.1.5 be released?

[2015-04-05 12:31] macmule opened #45 "Add more buttons to success/error window"
Such as open log file on error or success, & open NBI location on success.

[2015-04-10 21:05] macmule opened #46 "Unsigned Kernel Extensions error when creating 10.9 NBI on 10.10"
From: https://jamfnation.jamfsoftware.com/discussion.html?id=13845#responseChild83711

![3f8f1346390b4914983964860f5f160f](https://cloud.githubusercontent.com/assets/2464974/7097447/a15bc37e-dfcd-11e4-9ced-edd1506fcd28.png)

Issue with 1.1.7 pre-release

[2015-04-10 21:10] macmule commented on #43
Fixed in 1.1.8

[2015-04-10 21:10] #43 closed

[2015-04-10 21:45] macmule commented on #21
Closed as making the place look untidy

[2015-04-10 21:45] #21 closed

[2015-04-10 22:19] macmule opened #47 "Correct Progress Bar logging"

[2015-04-10 22:33] macmule commented on #46
Fixed in 1.1.8.

Bascially, if the NBI is a 10.9 NBI.. then delete the kernel extensions listed above. This stops this prompt on 10.10.x when creating 10.9 NBI's & reduces the kernel cache to stop the bug when running on 10.9..0-10.9.3.

[2015-04-10 22:33] #46 closed

[2015-04-10 23:06] macmule commented on #42
I'm unsure atm how to resize the text dynamically based on content, but as per https://github.com/macmule/AutoCasperNBI/issues/45 I've added some more buttons to the window.. one will open a Finder window at the NBI's location.

![screen shot 2015-04-10 at 23 58 13](https://cloud.githubusercontent.com/assets/2464974/7098840/9ea53230-dfde-11e4-8c02-e3971a327121.png)

Hope that works for you.

[2015-04-10 23:07] macmule commented on #45
in 1.1.8:

![screen shot 2015-04-10 at 23 58 13](https://cloud.githubusercontent.com/assets/2464974/7098843/b2a96cf6-dfde-11e4-9c45-27acf568e090.png)

![screen shot 2015-04-10 at 23 45 58](https://cloud.githubusercontent.com/assets/2464974/7098844/b74d1c80-dfde-11e4-8f3d-f9750691e6a3.png)

[2015-04-10 23:07] #45 closed

[2015-04-10 23:09] macmule opened #48 "Completely disable Spotlight"
10.10.x seems aggressive with Spotlight indexing volumes, & can cause unmounting to fail.

Deleting /System/Library/LaunchDaemons/com.apple.metadata.mds.plist from the NBI will stop Spotlight from running

[2015-04-10 23:11] #47 closed

[2015-04-10 23:11] macmule commented on #47
added to 1.1.7

[2015-04-10 23:23] macmule commented on #48
in 1.1.8

[2015-04-10 23:23] #48 closed

[2015-04-14 22:46] mcajina74 opened #49 "Compacting NetBoot.sparseimage error"
The application gets to the very end of the NBI build process, and then outputs the error in the screen shot. OS X 10.10.3 with Casper Imaging 9.65, and 9.7.

![screen shot 2015-04-14 at 12 42 49 pm](https://cloud.githubusercontent.com/assets/11951639/7148841/809c10ba-e2cc-11e4-968a-5c1a33539e1f.png)

[2015-04-17 20:21] macmule commented on #49
Which version of AutoCasperNBI was this?

Have you tried the latest pre-release? 1.1.8.

https://github.com/macmule/AutoCasperNBI/releases

[2015-04-21 17:54] mcajina74 commented on #49
I am using v. 1.1.8.﻿

On Apr 17, 2015, at 03:21 PM, macmule <notifications@github.com> wrote:

[2015-04-21 18:04] macmule commented on #49
Can you upload the com.macmule.AutoCasperNBI.plist & the log file generated when creating the NBI?

[2015-04-21 18:24] mcajina74 commented on #49
How do I upload those files. I didn't get a way to do that last time, that's why I could only post the screen shot.﻿

On Apr 21, 2015, at 01:05 PM, macmule <notifications@github.com> wrote:

[2015-04-21 18:26] macmule commented on #49
Depends on the way you're accessing here to be honest.

You might be able to copy & paste the contents, or reply to an email with them attached or pastebin/gist them.

Regards,

Ben.

[2015-04-21 18:35] mcajina74 commented on #49
I'm attaching as ZIP file to email reply. I don't get any choices for attachments in website.

﻿

On Apr 21, 2015, at 01:26 PM, macmule <notifications@github.com> wrote:

[2015-04-21 18:36] mcajina74 commented on #49
It did﻿n't seem to work.

On Apr 21, 2015, at 01:26 PM, macmule <notifications@github.com> wrote:

[2015-04-21 18:51] macmule commented on #49
Can you not copy & paste them into the issue? Or post to a gist/pastebin & then link to it?

Regards,

Ben.

[2015-04-22 12:59] macmule commented on #49
I just ran 10.10.3 through 1.1.8 on a VM running 10.10.3:

''Wed Apr 22 13:40:09 BST 2015 Trying to compact NetBoot.sparseimage in /Users/administrator/Desktop/10.10.3 AutoCasperNBI 9.7.nbi
Wed Apr 22 13:49:42 BST 2015 Compacted NetBoot.sparseimage in /Users/administrator/Desktop/10.10.3 AutoCasperNBI 9.7.nbi
Wed Apr 22 13:49:42 BST 2015 NetBoot successfully created at the following location /User

[2015-04-22 20:05] mcajina74 commented on #49
Hi,

I got very busy yesterday. Here is the log text AutoCasperNBI 1.1.8, ﻿OS X 10.10.3 with Casper Admin 9.65. The same error occurred at the end with Casper Admin 9.7.

I had to remove the name of our server from all occurrences. AutocasperNBI plist to follow.

Wed Apr 15 11:12:11 CDT 2015 AutoCasperNBI 1.1.8
Wed Apr 15 11:12:11 CDT 2015 Running on OS 10.10.3 (14D131)
Wed Apr 15 11:12:11 CDT 201

[2015-04-22 20:07] mcajina74 commented on #49
AutoCasperNBI plist. ﻿I removed our real server name and password from text, and typed in placeholders.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSNavLastRootDirectory</key>
    <string>~/Desktop</string>
    <key>NSNavPanelExpandedSizeForOpenMode</key>
    <s

[2015-04-22 20:23] macmule commented on #49
Great.

Thanks for persevering.

I'll try & recreate tomorrow.

Regards,

Ben.

[2015-04-23 08:16] macmule commented on #49
ok well, can't recreate on 10.9.5.. trying a 10.10.3 VM now.

[2015-04-29 13:10] #42 closed

[2015-04-29 13:17] macmule commented on #22
Also, to add that Composer 9.7 can now capture the Recovery HD, which would have resolved this issue too.

[2015-04-29 16:00] macmule commented on #44
Updated with the above inplace.

[2015-04-29 16:00] #44 closed

[2015-04-30 04:55] tkimpton opened #50 "ram disk not hidden"
custom rc.netboot makes the ram disk visible. This can be hidden
solution already posted here https://jamfnation.jamfsoftware.com/discussion.html?id=11356

[2015-04-30 06:55] macmule commented on #50
Doh!

Knew I missed one. I'll look into it, but will let the dust settle on 1.2.0 1st.

Regards,

Ben.

[2015-05-01 16:41] macmule commented on #50
Will be fixed in next version

Adding: chflags hidden $mntpt  to rc.netboot where RAM Disk is created

[2015-06-15 13:13] macmule commented on #49
Was fine on a 10.10.3 VM too.. any updates?

[2015-06-17 17:15] kitzy opened #51 "Request: Add an option for building a USB drive instead of an NBI"
I often end up restoring the DMG within the NBI folder to a USB drive. This works great, but I'd love to have an option to point AutoCasperNBI at an external drive and have it build the drive directly instead of an NBI.

[2015-06-23 14:36] mturnerfmr opened #52 "USB Restorable - Certificate Error from JSS"
Have built a restorable DMG as well as utilized the DMG created for netboot and applied it to the USB stick. Both methods work for created the DMG, during both methods build time i see it run the step to import the certificate from the JSS. Both have a cert in the correct location, System, when I boot from them. Both throw the error below either at start of build or during the build itself. Contin

[2015-06-26 06:52] macmule commented on #52
Hi mturnerfmr,

Can you please paste into a reply the AutoCasperNBI log from ~/Library/Logs/AutoCasperNBI. Ideally the one from when the DMG was created.

Also, the ~/Library/Preferences/com.macmule.AutoCasperNBI.plist.. Again from the Mac used to build the DMG.

On the DMG, can you post the ~/Library/Preferences/com.jamf.casperimaging.plist?

Lastly, can you post a screen shot of the system keych

[2015-07-15 05:01] rhs615 opened #53 "Support for Limited access JSS"
When entering URL of limited acces JSS, it says cannot connect to get version number. However, I want Casper imaging app in the NBI to point at limited access in case I image somewhere off my main network using a remote distribution point.

[2015-07-17 23:47] andrewseago opened #54 "NetBoot.restorable.dmg Non Journaled Volume"
When performing an asr restore of the NetBoot.restorable.dmg to a volume the new Volume type is Non Journaled. This is currently blocked from the OS Installers as an incompatible filesystem type.

[2015-07-19 21:02] macmule commented on #49
Any updates? If not something soon I'll close this off

[2015-07-19 21:03] macmule commented on #53
Thanks rhs615, i'll need to check the logic.. it may also be with a limited access JSS that the JSS's cert cannot be retrieved.

[2015-07-19 21:04] macmule opened #55 "Reduce RAM Disk size from 2GB to 1GB"
This is to help with VM's mosts default RAM is 2GB.

[2015-07-19 21:38] macmule commented on #49
Wow.. just realised that there has been no response from the OP since April 22nd.

Closing issue.

[2015-07-19 21:39] macmule commented on #51
Nice idea.. will probably not be in the upcoming release.. but one to think about.

[2015-07-19 21:42] macmule commented on #52
See: https://jamfnation.jamfsoftware.com/discussion.html?id=14911

[2015-07-20 09:45] macmule commented on #52
Cannot recreate :(

[2015-07-20 12:06] mturnerfmr commented on #52
Figured. Every issue that I keep running into here is out of the norm.

Appreciate the help!

Have responded to the post.

Matt

From: macmule [mailto:notifications@github.com]
Sent: Monday, July 20, 2015 5:45 AM
To: macmule/AutoCasperNBI
Cc: Turner, Matthew (FMR CO)
Subject: Re: [AutoCasperNBI] USB Restorable - Certificate Error from JSS (#52)

Cannot recreate :(

—
Reply to this email directly o

[2015-07-20 15:11] macmule opened #56 "Update Label for USB boot"

[2015-07-20 15:13] macmule commented on #50
in 1.2.1.

[2015-07-20 15:13] #50 closed

[2015-07-20 15:14] macmule commented on #54
In 1.2.1

[2015-07-20 15:14] #54 closed

[2015-07-20 15:14] macmule commented on #56
Potentially resolved by: https://github.com/macmule/AutoCasperNBI/issues/54

[2015-07-20 15:14] #56 closed

[2015-07-20 15:14] macmule commented on #55
In 1.2.1

[2015-07-20 15:14] #55 closed

[2015-07-21 07:19] macmule commented on #52
Actually, I think this maybe a Casper Imaging issue.

By default, AutoCasperNBI will set Casper Imaging to ignore Invalid certs if a JSS URL is passed to it:

![screenshot 2015-07-21 08 07 07](https://cloud.githubusercontent.com/assets/2464974/8794954/5a12c186-2f80-11e5-88a1-d80567d8688a.png)

If Casper Imaging is not honouring that, then it's a bug with Casper Imaging.

If a JSS URL is not being

[2015-07-21 22:05] macmule commented on #53
1.2.1 now proceeds when can't get cert.. such as a limited access JSS

[2015-07-21 22:05] #53 closed

[2015-07-21 22:27] rhs615 commented on #53
Thank you!

[2015-07-27 17:38] mcajina74 commented on #49
Hi, sorry, but I hadn't needed to create a new image for months. I just made a new one on Friday with your latest version and now the error I get is "Error: Renaming NetBoot.sparseimage to NetBoot.dmg."

However, I am able to boot computers with the NBI. Here's the log:

Fri Jul 24 13:19:04 CDT 2015 AutoCasperNBI 1.2.1
Fri Jul 24 13:19:04 CDT 2015 Running on OS 10.10.4 (14E46)
Fri Jul 24 13:19:04

[2015-08-08 07:33] macmule commented on #49
Sorry I've been on hols.

Can you try 1.2.1 & with the NBI being created in a different location & not /Library/NetBoot/ ?

Regards,

Ben.

[2015-08-18 19:05] mcajina74 commented on #49
Hi Ben,﻿

I just tried it by saving the NBI to the Desktop. I got the same error at the end.

Tue Aug 18 13:05:43 CDT 2015 AutoCasperNBI 1.2.1
Tue Aug 18 13:05:43 CDT 2015 Running on OS 10.10.5 (14F27)
Tue Aug 18 13:05:43 CDT 2015 Launched by admin
Tue Aug 18 13:05:43 CDT 2015 UUID 395DA0C7-9024-4CC1-84E7-5FC662E7F435
Tue Aug 18 13:05:43 CDT 2015 NetBoot is to be hosted on a single server.
Tue Aug

[2015-08-31 09:53] entusdictus opened #57 "Removal of the "Date & Time" prefpane"
When the Date & Time pref pane is removed, you are unable to set date & time in the NetBoot image. Here an example why this is an issue:

When you want to image a MacBook with completely empty battery, date and time are not set correctly. As result, the Casper repository can not be mounted. You will first need to boot from another volume, set date and time, and only then the installation will work

[2015-08-31 10:57] macmule commented on #57
Fair enough. Will be fixed in next release.

[2015-09-13 11:19] macmule opened #58 "10.11: Deleting dockfixup error"

[2015-09-13 11:20] macmule commented on #58
Issue with logic looking for 10.10 & doing actions.. should look for OS which is greater than 10.9

[2015-09-13 11:23] macmule opened #59 "10.11: Error Copying booter.efi"
needs investigation

[2015-09-13 11:24] macmule commented on #52
Closing as cannot recreate :frowning:

[2015-09-13 11:24] #52 closed

[2015-09-13 11:27] macmule opened #60 "Fix perms on desktop image post copy"
https://github.com/macmule/AutoCasperNBI/blob/master/AutoCasperNBI/AutoCasperNBIAppDelegate.applescript#L3393

As per the same fixed issue in AutoImagrNBI: https://github.com/macmule/AutoImagrNBI/blob/master/AutoImagrNBI/AutoImagrNBIAppDelegate.applescript#L3252

[2015-09-13 11:33] macmule commented on #57
Fixed in AutoImagrNBI at: https://github.com/macmule/AutoImagrNBI/blob/master/AutoImagrNBI/AutoImagrNBIAppDelegate.applescript#L2075

Relevant line in AutoCasperNBI:
https://github.com/macmule/AutoCasperNBI/blob/master/AutoCasperNBI/AutoCasperNBIAppDelegate.applescript#L2217

[2015-09-13 20:34] macmule commented on #60
Added to 1.3

[2015-09-13 20:35] macmule commented on #58
Fixed in 1.3

[2015-09-13 20:37] macmule commented on #57
In 1.3

[2015-09-13 20:43] macmule opened #61 "10.11: Error Writing NBImageInfo.plist"
10.11's PlatformSupport.plist, whilst still located at /System/Library/CoreServices/PlatformSupport.plist, only contains the "SupportedBoardIds" array & not also the "SupportedModelProperties" as other OS's.

This error is due to me looking for the "SupportedBoardIds" array.

I'll log a bug with Apple regarding this change & think about a solution.

10.9's PlatformSupport.plist below:
[code]

10.1

[2015-09-28 21:27] macmule commented on #59
Resolved in 1.3.0

[2015-09-28 21:28] macmule commented on #49
Possibly found & resolved in 1.3.0, going to release that in a few.

[2015-10-01 00:10] MScottBlake opened #62 "Error Deleting dockfixup in 10.11"
Received the following error building 10.11.0 with JSS 9.81 on a 10.11.0 host. <img width="484" alt="screenshot 2015-09-30 20 06 07" src="https://cloud.githubusercontent.com/assets/945258/10209925/e1d57990-67ae-11e5-877d-fc92d4a84ed7.png">

DMG built with AutoDMG 1.5.3; no extra packages or updates.
NBI built with ACNBI 1.2.1; no extra packages or certs.

[2015-10-02 07:08] macmule commented on #62
Dupe of https://github.com/macmule/AutoCasperNBI/issues/58 (which i've now made more visible)

[2015-10-02 07:08] #62 closed

[2015-10-02 07:10] macmule commented on #61
Logged Bug with Apple, (22677569), & have had it closed as a dupe of 22799473.

[2015-10-02 07:14] macmule opened #63 "10.11: SIP enabled"
Below is from a 1.3 created 10.11 NBI:

<img width="1136" alt="screenshot 2015-09-29 21 03 34" src="https://cloud.githubusercontent.com/assets/2464974/10241177/65c9a88c-68dd-11e5-9d89-394f063e82ac.png">

Seems like SIP might be enabled on a SIU creating NBI.. to investigate

[2015-10-02 12:58] quedayone commented on #58
Awesome!

[2015-10-02 20:11] everetteallen commented on #63
I was able to add the Automator action to "Bless NetBoot Server" and create a working NetInstall for SIU.

[2015-10-06 09:01] zvordauk commented on #58
Recreated this today. Log files below

Mon Oct 5 13:08:18 IST 2015 Successfully created NetBoot.sparseimage in '/Volumes/JetDrive/nbi v2/10.11 AutoCasperNBI.nbi'
Mon Oct 5 13:08:19 IST 2015 Trying to mount: '/Volumes/JetDrive/nbi v2/10.11 AutoCasperNBI.nbi'
Mon Oct 5 13:08:20 IST 2015 Mounted to: /Volumes/10.11 AutoCasperNBI 1
Mon Oct 5 13:08:20 IST 2015 Copying contents of '/Volumes/Macintosh HD

[2015-10-08 11:16] ThomasHolbrook commented on #58
Hi,

"/System/Library/CoreServices/Dock.app/Contents/Resources/com.apple.dockfixup.plist" doesn't seem to exist in our case.

We have wrapped it in a try for now to work around the issue:

                try

                do shell script "/bin/rm " & quoted form of netBootDmgMountPath & "/System/Library/CoreServices/Dock.app/Contents/Resources/com.apple.dockfixup.plist" user name adminUserName

[2015-10-08 11:27] macmule commented on #58
Hi Thomas,

Was this with the latest commit?

Regards,

Ben.

[2015-10-08 11:32] ThomasHolbrook commented on #58
I pulled it down maybe 30 minutes before so it should be? Have i missed something stupid?

[2015-10-08 11:51] macmule commented on #58
Might be me then.

I may be able to work in something tonight, I have an idea about the other issues.

Regards,

Ben.

[2015-10-08 11:58] ThomasHolbrook commented on #58
Cool, look forward to them!

I just checked and the info says:

	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>

Cheers,

Tom

[2015-10-12 15:51] #60 closed

[2015-10-12 15:52] macmule commented on #63
Same issue when creating a 10.11 NetBoot Image via SIU.

csrutil is only manageable when in recovery/NetInstall

[2015-10-12 15:52] #63 closed

[2015-10-12 15:54] #57 closed

[2015-10-21 01:01] rquigley-woodleigh opened #64 "Error: Deleting /Library/Preferences/com.apple.dockfixup.plist"
Hi,

I'm attempting to build a package with El Capitan, Casper Imaging 9.81 and am having the issue where the program refuses to delete the com.apple.dockfixup.plist.

I've attached a screenshot and logs in hope that something can be found.

Ta.

<img width="533" alt="screen shot 2015-10-21 at 11 57 46 am" src="https://cloud.githubusercontent.com/assets/13759310/10625096/112490a4-77eb-11e5-9c1c-cb

[2015-10-21 23:37] kevinstrick commented on #64
I think this is because of SIP won't allow modifications in /System ...  i think i workaround might be to disable SIP on the machine you are creating the netboot on (I'm going to try that), but longterm i'm thinking that removing dockfixup is no longer an option

[2015-10-21 23:40] kevinstrick commented on #64
nevermind, not SIP it's in /LIbrary...

[2015-10-21 23:40] kevinstrick commented on #64
or rather, com.apple.dockfixup.plist is no longer in /Library

[2015-10-25 16:11] #58 closed

[2015-10-25 16:11] #59 closed

[2015-10-25 16:11] #61 closed

[2015-10-25 16:11] #64 closed

[2015-10-25 20:11] macmule commented on #49
Again cropped up in 1.3.0 commits.

Attempting to find catalyst & resolve for 1.3.0 release.

[2015-10-25 21:11] macmule commented on #49
Infuriatingly second run, same settings & it worked without errors.

Please try 1.3.0 when released (shortly).

[2015-10-25 21:57] macmule opened #65 "Casper Imaging slow to launch on 10.10"

[2015-10-25 21:58] macmule commented on #65
Issue seems to be related to 10.10 alone, 10.7-10.9 & 10.11 launch in a timely manner.

[2015-10-25 21:58] #65 closed

[2015-10-25 21:59] macmule opened #66 "Multiple Casper Imaging in Dock"
Appears to have arisen with an update to Casper Imaging.

![screen shot 2015-10-25 at 2 56 21 pm](https://cloud.githubusercontent.com/assets/2464974/10718162/f4b0acd8-7b63-11e5-8820-9c10a0790137.png)

[2015-10-25 22:02] macmule commented on #57
![screen shot 2015-10-25 at 2 55 53 pm](https://cloud.githubusercontent.com/assets/2464974/10718182/08ccfbfe-7b64-11e5-861f-e72657ea1588.png)

[2015-10-25 22:03] mcajina74 commented on #49
Ok, I will. Thanks!

Sent from my mobile phone.

[2015-10-25 22:33] macmule commented on #61
See: https://macmule.com/2015/10/02/autocaspernbi-autoimagrnbi-el-capitan/#Update-2

[2015-10-25 22:35] macmule commented on #63
See: https://macmule.com/2015/10/02/autocaspernbi-autoimagrnbi-el-capitan/#Update

[2015-10-26 14:16] macmule commented on #64
Resolved in 1.3.0, which was released last night.

Thanks for the information.

[2015-10-30 12:32] n0brainer opened #67 "Run Full Finder in El Cap"
Doesn't seem to work, at least with a FV2 enabled drive where you didn't enter the password (hit cancel).  Choose run full finder and it never switches over.

[2015-10-30 14:39] macmule commented on #67
Oh. So simple Finder on 10.11 no worky?

Regards,

Ben.

[2015-10-30 14:44] n0brainer commented on #67
I have the NBI to use the simple finder, but switching back to full finder doesn't work.

[2015-10-30 16:30] macmule commented on #67
Ok. I'll see what I can come up with.

Most probably will need to log a bug with Apple.

Regards,

Ben.

[2015-11-02 10:19] macmule commented on #67
Tested in 10.11 VM & confirmed as a 10.11 bug. 23352376.

I'll update with a response from Apple.

[2015-11-02 10:20] macmule commented on #49
Any luck?

Are you running anti-virus when these errors crop up?

[2015-11-02 12:16] mcajina74 commented on #49
I will try it today. I don’t run anti-virus software.

[2015-11-03 22:38] scifiman commented on #49
Just to chime in, I too have this error with 1.3.0 (2).
That is the error renaming Netboot.sparseimage to Netboot.dmg at the end.
It seems to successfully rename the file two steps before the error, but then it tries again.
Everything else looks good and the files is properly renamed, just got the error.

[2015-11-03 23:36] macmule commented on #49
Hmm.

I saw this when AV was running on-access scanning, anything like that on your setup?

[2015-11-04 23:55] mcajina74 commented on #49
OK, I tried it yesterday and I got the same error at the end, but the NBI works (as usual):Tue Nov 3 15:01:09 CST 2015 AutoCasperNBI 1.3.0Tue Nov 3 15:01:09 CST 2015 Running on OS 10.10.5 (14F1021)Tue Nov 3 15:01:09 CST 2015 Launched by adminTue Nov 3 15:01:09 CST 2015 UUID 35B8F407-2AAE-4742-9D8E-D01CEF5BBF8BTue Nov 3 15:01:09 CST 2015 NetBoot is to be hosted on a single server.Tue Nov 3 15:01:31

[2015-11-07 13:31] macmule commented on #49
Scifiman, what was your NBI's name?

[2015-11-07 15:50] macmule opened #68 "Correct Deleting BootCaches Log"
https://github.com/macmule/AutoCasperNBI/blob/master/AutoCasperNBI/AutoCasperNBIAppDelegate.applescript#L4258

[2015-11-07 16:30] macmule commented on #49
Can you both please test: https://github.com/macmule/AutoCasperNBI/releases/tag/1.3.0-test

This won't fix the issue, but will help me track it down.. I've split out each step after renaming so it will error where it fails. this will stop the creation. But locating the error will help.

[2015-11-08 00:02] macmule commented on #49
Are both of you creating NBI's on VM's?

I might have found an issue with VM's & the sound being played on completion.

[2015-11-08 00:08] mcajina74 commented on #49
I run your software on an XServe which is my Netboot server. No VM.

I'll have to VPN and remote into it to run the test you asked us to run since I'm home.

[2015-11-08 00:09] macmule commented on #49
Hmm... That could be it though. No sound card.

Regards,

Ben.

[2015-11-08 00:14] mcajina74 commented on #49
OK, that's an odd thing to cause an issue. The NBI's work fine, but your software just spits out that "error" at the end of the routine.

[2015-11-08 00:21] macmule commented on #49
Right. At the end it plays a file with the "complete" tone.

If you get an error similar I'll stick that in a try block that doesn't error for test2, then we can verify if that did indeed resolve.

Regards,

Ben.

[2015-11-08 05:22] scifiman commented on #49
Ben,

I am building on VMs.  I actually got successful builds for both 10.10 and 10.11 on Friday.  But I did spin up new VMs just to do the build.  The original one did have AV while the new ones did not.
Also, I was tinkering with the VMs and don't remember if I gave it a sound card or not.  I'll have to go back and look.

I'll try to get the test build a go either Monday or Tuesday.
Thanks!

Jef

[2015-11-08 18:49] mcajina74 commented on #49
Hi Ben,

When I launched your "test1" app, I got a "Software Update" screen. I skipped it, and ran the application. I created the NBI to the Desktop. At the end of the process, I got this screen:

![screen shot 2015-11-08 at 8 07 08 am](https://cloud.githubusercontent.com/assets/11951639/11021912/5a39caa0-8616-11e5-9649-6865e20c1355.png)

Here is the end of the new log generated:

Sun Nov 8 07:40:

[2015-11-08 18:58] macmule commented on #49
Awesome!!!

Same issue as I can see when running in a VM, if Scifiman sees the same error then we've found it!

Many thanks for keeping on this.

[2015-11-10 18:13] bmccart opened #69 ""Run Full Finder" does not work"
When building an image using 10.11.1, trying to "Run Full Finder" consistently crashes

[2015-11-10 18:16] macmule commented on #69
See: https://github.com/macmule/AutoCasperNBI/issues/67

[2015-11-10 18:17] #69 closed

[2015-11-11 20:47] scifiman commented on #49
Building a new NBI set now.  My VM does not have a sound card connected.  It should be done soon.

[2015-11-11 21:05] scifiman commented on #49
Using test1 I got a successful creation.

[2015-11-12 16:57] macmule opened #70 "Change Build Target to 10.9+"
As per: https://jamfnation.jamfsoftware.com/discussion.html?id=17826

[2015-11-12 17:20] macmule commented on #49
odd.. oh well. let me update to 1.3.1 in a few days to see if i can resolve, i should be able to test & fix (I hope).

     On Wednesday, 11 November 2015, 21:05, scifiman <notifications@github.com> wrote:

 Using test1 I got a successful creation.—
Reply to this email directly or view it on GitHub.

[2015-11-12 18:20] mcajina74 commented on #49
When I ran the "test1" app on a computer that has a sound card, I didn't get the error notification in the end of the process. I then uploaded the NBI to my NetBoot server. Again, I want to emphasize that all the previous NBI's I made when getting the error all worked anyway.

[2015-11-13 23:38] macmule opened #71 "Enable rc.netboot by default"

[2015-11-13 23:43] macmule opened #72 "Remove extra single file ditto calls"

[2015-11-13 23:44] macmule opened #73 "10.9.5 generating kernelcache error with 10.11 NBI"
https://jamfnation.jamfsoftware.com/discussion.html?id=17798

[2015-11-15 21:52] macmule commented on #73
![screen shot 2015-11-15 at 13 27 10](https://cloud.githubusercontent.com/assets/2464974/11171248/3091fec0-8be3-11e5-99cc-d8c2636253f2.png)

[2015-11-16 07:56] macmule commented on #71
In 1.3.1

[2015-11-16 07:56] #71 closed

[2015-11-16 07:56] macmule commented on #70
In 1.3.1

[2015-11-16 07:56] #70 closed

[2015-11-16 07:56] macmule commented on #68
In 1.3.1

[2015-11-16 07:56] #68 closed

[2015-11-16 07:56] macmule commented on #72
In 1.3.1

[2015-11-16 07:56] #72 closed

[2015-11-16 14:14] macmule commented on #73
Resolved in 1.3.1

[2015-11-16 14:14] #73 closed

[2015-11-16 15:11] abdiaziz commented on #67
Just adding in that I'm also experiencing the same issue with Casper Imaging 9.81 and OS X 10.11.1.

[2015-11-16 15:12] abdiaziz commented on #66
Just adding in that I'm also experiencing the same issue with Casper Imaging 9.81 and OS X 10.11.1. No problem with Casper Imaging 9.81 and OS X 10.10.5

[2015-11-16 17:31] macmule commented on #67
I have a pre-release of AutoCasperNBI 1.3.1 available: https://github.com/macmule/AutoCasperNBI/releases/tag/1.3.1

This has a warning like the below when enabling Simple Finder for a 10.11 NBI or trying to build a 10.11 NBI with Simple Finder enabled:
![screen shot 2015-11-16 at 09 26 29](https://cloud.githubusercontent.com/assets/2464974/11189421/e7bd6892-8c87-11e5-9740-5fbfe7da3083.png)

[2015-11-16 17:32] macmule commented on #67
Can you please test & feedback?

[2015-11-16 17:32] macmule commented on #49
Hi both,

I have a pre-release of AutoCasperNBI 1.3.1 available: https://github.com/macmule/AutoCasperNBI/releases/tag/1.3.1

Can you please test & feedback?

[2015-11-16 17:47] abdiaziz commented on #67
Is it normal for that popup to happen twice? Once when selecting Simple Finder, the other when entering your admin credentials?

[2015-11-16 17:57] macmule commented on #67
Yep.

For now.

It's an interim prompt, it'll alert when enabled & then pre-build if enabled.

That's a catch all. Might be a little naggy, but hopefully not having to build NBI's that often &/or Apple resolve soon.

[2015-11-21 11:43] macmule opened #74 "Increment build number, per build"

[2015-11-21 11:43] #74 closed

[2015-12-09 14:51] abdiaziz commented on #67
Switching to Full finder does not work in OS X 10.11.2

[2015-12-09 15:23] macmule commented on #67
Cheers for the update!

No update on my bug.

[2015-12-09 15:25] macmule commented on #66
Recreated with 9.81 on a VM running 10.11.2:

https://macmule.com/CasperImaging-Chopped.mp4

[2015-12-09 15:33] macmule commented on #66
Created an FR on JAMFNation: https://jamfnation.jamfsoftware.com/featureRequest.html?id=4245

[2015-12-09 15:36] macmule commented on #49
Closing this off as 1.3.1 should have fixed.

[2015-12-09 15:36] #49 closed

[2015-12-14 18:43] TSPARR opened #75 "10.11.2 ARD/VNC Unable to Authenticate"
I tried originally with 1.3.1 and then again with 1.3.2 and was unable to successfully VNC or ARD to the Netboot image. I was able to receive a login prompt, but unable to authenticate. Please let me know if you'd like any logs or have any questions.

[2015-12-15 12:52] macmule commented on #75
@TSPARR On the mac that built the NBI, can you check the contents of ~/Library/Preferences/com.macmule.autocaspernbi.plist?

That will show the username & password for ARD.

Also, are you adding any additional PKGs?

[2015-12-15 14:06] TSPARR commented on #75
I checked that file and the username and password are the same one I was attempting to use. I've attached a sanitized version of it here:
[com.macmule.autocaspernbi.txt](https://github.com/macmule/AutoCasperNBI/files/62549/com.macmule.autocaspernbi.txt)

As you can see from the plist, I am also installing Carbon Copy Cloner. Here's a screenshot of the files it's modifying:
<img width="277" alt="sc

[2015-12-15 14:24] macmule commented on #75
Odd.

I always connect via ARD.

What if you delete the Mac from ARD & re-add? Does that work?

Regards,

Ben.

[2015-12-15 17:05] TSPARR commented on #75
I just tried setting up a new NBI with a brand new download of OS X 10.11.2, new download of AutoDMG, and new download of AutoCasperNBI.

Here is the sanitized setup log in which I'm not seeing any errors:
[AutoCasperNBI-2015-12-15.txt](https://github.com/macmule/AutoCasperNBI/files/62917/AutoCasperNBI-2015-12-15.txt)

This is what the Sharing preference pane looks like in the created Netboot:
![s

[2015-12-16 23:31] hunty1 commented on #75
ACNBI 1.3.2
AutoDMG 1.5.4
OS: 10.11.2
Created NBI on OS 10.10.5

I came here to create an issue for this exact thing.

I'm seeing the same results as above. remote management _not_ enabled, screen sharing _is_ enabled, but unable to login using the ARD account. VNC password also does not work, I get this error when trying to connect over VNC.

![screen shot 2015-12-17 at 10 23 20 am](https://cloud

[2015-12-17 08:04] macmule commented on #75
Thanks @TSPARR & @hunty1.

So it seems like ARD is being enabled but the user is not being created.

The script that runs to create the user (amongst other things) is: https://github.com/macmule/AutoCasperNBI/blob/master/AutoCasperNBI/Boot.sh

& should be located within /Library/Application Support/AutoCasperNBI/Scripts/ on the NBI

Can you test that script on the NBI? Any errors?

[2015-12-17 08:12] hunty1 commented on #75
Yep I was going to do that before I left work today but ran out of time. I have to create a new NBI because SSH isn't enabled and I'm running simple finder on this one and couldn't get to terminal d'oh!

Am I missing an option to enable SSH? Or is that not a feature of ACNBI? No biggie easy enough to package up a launchd to do it and add it as an additional item.

I'll give it a crack tomorrow mor

[2015-12-17 08:38] macmule commented on #75
@hunty1 Thanks.. i've found some time to test today :) SSH isn't an option, but tbh.. it's meant to be an NBI for a GUI app.. so seemed like more pain that it's worth!

[2015-12-17 08:44] macmule commented on #75
Really odd.. working for me (screenshot is taken from ARD)
![10 11 2-ard](https://cloud.githubusercontent.com/assets/2464974/11865175/422702f0-a49a-11e5-90db-74ca191faad7.png)

I'll try again with an NBI that has been reduced.

[2015-12-17 08:45] macmule commented on #75
@TSPARR FWIW, you need JSS 9.8.x to manage 10.11

[2015-12-17 10:54] macmule commented on #75
![screen shot 2015-12-17 at 2 52 05 am](https://cloud.githubusercontent.com/assets/2464974/11867957/815e74c8-a4ac-11e5-9b3c-d1b7a3f8d0c4.png)

There we go

[2015-12-17 10:54] macmule commented on #75
This only happens on a reduced NetBoot FWIW

[2015-12-17 14:14] TSPARR commented on #75
@macmule Yeah, I'm aware. We had some show-stopping bugs with our test instance of 9.81, so we're waiting for 9.82. You can still push packages through Casper Imaging from a Netboot or Target Disk Mode to an 10.11 computer though and we got a few new iMacs in that can't boot to 10.10 anymore, so we were just trying to create a quick workaround.

 I like reducing the Netboot as it just presents few

[2015-12-17 15:35] macmule commented on #75
@TSPARR & @hunty1 I found the issue.

So ARD fails on 10.11.2 when the folder /Library/Application Support/Apple/Remote Desktop/ is not there.. it can be empty.. but needs to be there.

Can you both:

1. Rename the NetBoot.dmg to NetBoot.sparseimage
2. Mount NetBoot.sparseimage
3. Create the /Library/Application Support/Apple/Remote Desktop/ folder structure
4. Unmount  NetBoot.sparseimage
5. Rena

[2015-12-17 15:52] TSPARR commented on #75
@macmule That's perfect! Worked like a charm. Also, that's a really good secondary tip on editing a read-only DMG. I never knew you could just change the extension and edit it like that.

[2015-12-17 16:17] macmule commented on #75
@TSPARR Thanks for logging the issue!

The NetBoot.dmg is actually a sparse image, but is renamed for BSDPy & NetSUS.

It's detailed at: https://macmule.com/projects/autocaspernbi/#Read-Only_DMG & might not work for other DMG's though.

Ironically, @hunty1 is partly responsible.

I'll update AutoCasperNBI tomorrow, i'll manually create the dir when creating the NBI

[2015-12-18 14:00] macmule commented on #75
Blogged it: https://macmule.com/2015/12/18/10-11-2-cannot-enable-ard-or-vnc-if-libraryapplication-supportappleremote-desktop-is-missing/

1.3.3 with a fix for this is coming.

Thanks @TSPARR & @hunty1

[2015-12-18 14:00] #75 closed

[2016-01-05 13:45] MScottBlake opened #76 "Multiple instances of Casper Imaging"
I am using ACNBI to create USB sticks and Restore partitions for lab machines. After the first use, Casper Imaging launches a second time. This becomes a problem when automatic imaging is checked as one will start to block copy, then the other will start erasing the drive.

I believe it is the OS recreating the previous environment combined with the startup item, but I can't get it to stop manuall

[2016-01-20 21:16] abdiaziz commented on #67
Hey @macmule, I'm guessing Apple hasn't said anything yet?

As for Simple Finder in OS X 10.11.3, it still doesn't work.

I tested this by letting AutoCsaperNBI create an NBI with "Simple Finder" enabled. After accepting the warnings and booting into the NBI, everything seem normal until I noticed that "Simple Finder" wasn't even enabled. The default and only thing working (using AutpCasperNBI) is

[2016-01-24 09:57] macmule commented on #67
@abdiaziz Nothing.. no response to the bug report :(

[2016-01-24 09:59] macmule commented on #76
@MScottBlake That's odd.. Can you capture a video of it? I'm not sure how to troubleshoot.

Only guess is it's something like: https://macmule.com/CasperImaging-Chopped.mp4

[2016-01-24 14:07] MScottBlake commented on #76
Similar, but imagine both have dots under them because they have both
launched. I'm currently snowed in, but I'll get you a video when I can.

On Sun, Jan 24, 2016, 4:59 AM macmule <notifications@github.com> wrote:

[2016-01-29 02:04] zenticles opened #77 "Error: Disabling Software Update"
Fri Jan 29 11:54:34 AEST 2016 Deleted /Volumes/10.9.5 AutoCasperNBI/System/Library/CoreServices/Software Update.app
Fri Jan 29 11:54:34 AEST 2016 Deleting /Volumes/10.9.5 AutoCasperNBI/System/Library/LaunchDaemons/com.apple.softwareupdate*
Fri Jan 29 11:54:35 AEST 2016 Error: Disabling Software Update

Cannot create NBI due to this error. Have tried with several different images as well as on 10.1

[2016-01-30 10:44] macmule commented on #77
@zenticles Have the OS.dmg's your supplying been modified?

It seems like those files have been deleted on the OS.dmg.

A clean OS.dmg via AutoDMG should work fine.

[2016-02-01 04:40] zenticles commented on #77
@macmule It seems as though the images we were using were dirty. Clean image from the App Store and AutoDMG worked fine.

Thanks!

[2016-02-01 04:40] #77 closed

[2016-03-05 23:01] macmule opened #78 "Speedup 10.11 boot by disabling some LaunchDaemons"
[code]

from DS 1.7.2

also https://github.com/NBICreator/NBICreator/blob/master/NBICreator/Workflow%20Modify/NBCWorkflowResourcesModify.m#L1124-L1141

[2016-03-11 20:24] dnikles commented on #76
I think what's happening is when running from USB the system is read-write unlike when netbooted. I'm running into the same thing running from USB. If you hcheck "boot to target drive after imaging", casper imaging is still open when the system shuts down, so on next boot it opens again, and also auto launches another instance of casper imaging. I had checked in ACNBI to slim the image down so I d

[2016-03-11 20:33] macmule commented on #76
@dnikles Nice defaults command.

Should be easy enough to add.

[2016-03-11 20:37] macmule commented on #76
Hmm. I see from googling that's mentioned for 10.7?

@dnikles guess your seeing it working on 10.11?

[2016-03-11 21:02] dnikles commented on #76
I only tested on 10.11. It worked there.

Sent from my iPhone

On Mar 11, 2016, at 3:37 PM, macmule <notifications@github.com<mailto:notifications@github.com>> wrote:

Hmm. I see from googling that's mentioned for 10.7?

@dnikles<https://github.com/dnikles> guess your seeing it working on 10.11?

—
Reply to this email directly or view it on GitHub<https://github.com/macmule/AutoCasperNBI/issues/76

[2016-03-25 12:58] mostlikelee commented on #76
I have it set as a "before" script in the JSS.  Works well.

[2016-04-05 11:54] lakem opened #79 "Enter JSS URL: "Cannot get JSS version""
Hi there

I have been using AutoCasper NBI for some time now, however, with the latest version (1.3.3), whenever and however I enter my JSS URL, it reports that it cannot get the JSS version. I have made sure it is the correct URL (FQDN). I am running JSS version 9.9. Thanks

[2016-04-05 12:16] macmule commented on #79
Hi @lakem,

Just tested with our test JSS, seems to work fine.

![screenshot 2016-04-05 13 13 24](https://cloud.githubusercontent.com/assets/2464974/14281379/94f3d7d2-fb30-11e5-9d3a-39770736b5cb.png)

What OS is the JSS running on? Also, is this a web app disabled JSS you're pointing to?

[2016-04-05 12:20] macmule commented on #79
@lakem Can you post the output of the below?

`curl -k https://<JSS FQDN>:8443/jss.html -m 30`

Redact as needed.

[2016-04-05 12:25] macmule commented on #79
Should get something like:

[code]

The line: **<title>JSS Login - JSS v9.9</title>** is what ACNBI grabs.

[2016-04-05 14:58] lakem commented on #79
Hi @macmule thanks for responding so quickly.

The actual JSS is running on OS X 10.8.5 - JAMF Casper 9.9 (just updated)

The JSS web app/page is working.

Using AutoCasperNBI 1.3.3 on OS X 10.11.3

When attempting " curl -k https://<MY JSS FQDN>:8443/jss.html -m 30 "
I get " curl: (35) Unknown SSL protocol error in connection to <my jss server fqdn>:-9850 "

[2016-04-05 16:06] lakem commented on #79
Just a further update, I have tried AutoCasperNBI 1.3.3 on my 10.9 Mac and it works fine.

And running " curl -k https://MY JSS FQDN:8443/jss.html -m 30 " on this same Mac returns

`<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-  <script type="text/javascript" src="javascripts/jquery.tablesorter.min.js"></s  ipt>  <link rel="apple-touch-icon-precomposed" href="image

[2016-04-05 17:11] macmule commented on #79
Just had @dgreening test this in Slack.

ACNBI uses curl, so I guess when hosted on a 10.8.5 OS X server there is some older SSL in use.

Hence the issue on 10.11.x clients.

This shouldn't affect the ACNBI create NBI, but is also something I'll not be able to resolve.

Does this make sense?

[2016-04-15 06:07] hunty1 commented on #78
Don't remove `com.apple.lsd.plist`
that will result in the following:

[code]

[2016-04-21 10:54] macmule commented on #78
Hey fella,

Yea. Trying it did not give desired results.

There is a JAMFNation thread with folks having calls with Apple about the speed. Seems like an 10.11 issue & they see the same with SIU.

Awaiting the resolution in that thread before doing anything with ACNBI.

Regards,

Ben.

[2016-06-09 21:02] macmule opened #80 "Update Sparkle"
Current version included is 1.8, current sparkle release is 1.14.

This new release resolves the below error seen at sometimes:

[2016-07-08 20:05] bp88 opened #81 "Prevent the use of root as an ARD username"
This is an enhancement request. Currently, if you attempt to use ARD and use "root" as the username, the resulting netboot image will not auto login. And the default password for root will not work at the Login Window. This request is to prevent the AutoCasperNBI from using "root" as the ARD username so as the avoid any conflicts with the root account already used by default for auto login.

[2016-08-22 15:27] macmule commented on #78
Resolved via 10.11.6, so closing this off.

[10.11.6 Release Notes](https://support.apple.com/en-us/HT206770)

[2016-08-22 15:27] #78 closed

[2016-08-23 11:56] cvgs opened #82 "Cannot get JSS version on Limited JSS"
ACNBI is not able to get the JSS version number if the JSS URL points to a "Limited JSS".

This might be worked around by using the following method to check the JSS version number (which works on both Limited and Full JSS instances):

[code]

Kind regards,
Christoph

[2016-08-23 12:26] cvgs commented on #82
Hi,

the JSS is a clustered environment (3 servers) hosted on Windows. The difference to #79 is that the JSS servers answering to the "JSS URL" are set to "Limited JSS", this disables the normal output ACNBI is expecting:

[code]

[2016-08-23 12:52] macmule commented on #82
hmm.. can you try:

`/usr/bin/curl -k <jssURL> /index.cxml -m 30 | /usr/bin/awk 'BEGIN { FS = "=|<|>" }{ print $3 }'`

[2016-08-23 13:05] cvgs commented on #82
Works on 9.81 and 9.93.

It would probably be cleaner to parse the XML, but xmllint complains that it isn't well-formed anyways...

[2016-08-23 13:27] macmule commented on #82
yea, I tried some XPath.. but didn't have much luck their either

[2016-08-29 20:10] hkabik opened #83 "Mac auto-restarting using 10.11.6, Casper Imaging 9.93, JSS 9.93 on AutoCasperNBI 1.3.3 created NetBoot"
After booting to the netboot Macs auto-restart after a few seconds. Casper Imaging never gets a chance to completes login.

Os - 10.11.6
JSS and Casper Imaging - 9.93
AutoCasperNBI - 1.3.3

[2016-08-29 21:06] macmule commented on #83
Odd.

Not seeing that at all.

Have deployed it to a few sites now.

Can you recreate the NBI & check "create restorable dmg" then restore that to a external disk & boot off of that? Hopefully the issue reoccurs & we can have a look at the logs.

Regards,

Ben.

[2016-08-29 22:57] hkabik commented on #83
So upon Recreating the NBI, the new one works. They are identical, but if I boot to one the behavior exists and if I boot to the other it's fine. Corruption maybe? Either way, I'm technically resolved. Let me know if you want me to gather any info from the bad nbi before I trash it.

[2016-09-08 19:23] mojo21221 opened #84 "AutoCasperNBI and Casper Imaging 9.96"
When trying to create a new netboot image with AutoCasperNBI I found that it would not accept the new Casper Imaging 9.96 App. It would complain about a version number and not let you move forward. In looking at the info.plist inside Casper Imaging 9.96 it looked a bit different that the one from Casper Imaging 9.93. My fix was to modify the info.plist in 9.96, but I'm sure many others would rathe

[2016-09-09 08:27] entusdictus commented on #83
I can confirm this issue. I have tried to build 10.10.5 NBIs and 10.11.6 NBIs, both with Casper Imaging 9.93. Confirmed for multiple customers. One customer doesn't either work after building six NBIs.
The OS DMGs are all built with AutoDMG and were definitely working when creating previous images.

Please let me know if I should provide any logs for you.

[2016-09-09 09:15] macmule commented on #84
The issue is that ACNBI is looking in the info.plist for CFBundleGetInfoString, I need to change this to: CFBundleShortVersionString

[2016-09-09 09:21] macmule commented on #82
Hey folks,

Can you try: `/usr/bin/curl -k <jssURL>/index.cxml -m 30 | /usr/bin/awk 'BEGIN { FS = "=|<|>" }{ print $3 }'`

[2016-09-09 09:40] #79 closed

[2016-09-09 09:42] macmule commented on #67
To test on Sierra.. I no longer have access to bug reporter with the account I filed the bug under originally (silly me).

[2016-09-09 09:44] #80 closed

[2016-09-09 09:45] macmule opened #85 "Sign AutoCasperNBI"
:)

[2016-09-09 09:46] #85 closed

[2016-09-09 10:16] macmule commented on #82
@cvgs Can you try this in Script Editor?

[code]

[2016-09-09 10:17] macmule commented on #79
Actually @lakem & @dgreening,

Can you test:

Can you try this in Script Editor?

[code]

[2016-09-09 10:53] cvgs commented on #82
Hi,
that script works under 10.12 and 10.11, tested against 9.81 and 9.93 (both limited and normal). Looks good...

[2016-09-09 13:05] macmule opened #86 "Sierra Compatibility"

[2016-09-09 13:05] macmule commented on #84
In 1.3.4, coming soon

[2016-09-09 13:05] #84 closed

[2016-09-09 13:06] macmule commented on #82
Thanks @cvgs.

In 1.3.4, coming soon

[2016-09-09 13:06] #82 closed

[2016-09-09 13:07] macmule commented on #83
Hi @hkabik & @entusdictus,

In the NBI folder, do you have the .restorable.dmg? (on the NBI Server).

[2016-09-09 13:07] macmule commented on #67
Sierra seems better behaved. So looks like a 10.11 issue.

Therefore, ACNBI has a workaround (the alert), the fix is not using 10.11 :(

[2016-09-09 13:07] #67 closed

[2016-09-09 13:09] macmule commented on #76
@dnikles, @mostlikelee & @MScottBlake

I'll add this to 1.3.4, coming soon. But will not be able to test.

1.3.4 should drop early next week at the latest, once done.. please test & report back.

[2016-09-09 13:09] entusdictus commented on #83
Yes, the restorable.dmg is in the NBI folder in my case.

[2016-09-09 15:25] macmule commented on #83
@entusdictus Remove it.. then it'll work.

[2016-09-09 15:29] macmule commented on #83
Related to: https://jamfnation.jamfsoftware.com/discussion.html?id=19850

[2016-09-09 15:30] macmule opened #87 "Put NBI in subfolder, with restorable DMG in the root of that folder."
To avoid issues like: https://jamfnation.jamfsoftware.com/discussion.html?id=19850

And, https://github.com/macmule/AutoCasperNBI/issues/83#issuecomment-245907939

[2016-09-09 15:33] macmule commented on #83
I this: https://github.com/macmule/AutoCasperNBI/issues/87 would stop this happening again.

The NetBoot.restorable.dmg is for disk media, not for NetBoot.

[2016-09-09 15:40] macmule commented on #87
Like:

![screenshot 2016-09-09 16 39 36](https://cloud.githubusercontent.com/assets/2464974/18393087/09361154-76ac-11e6-9733-7e7b6e974dec.png)

[2016-09-09 22:24] macmule commented on #87
In 1.3.4

[2016-09-09 22:24] #87 closed

[2016-09-09 22:26] macmule commented on #86
In 1.3.4

[2016-09-09 22:26] #86 closed

[2016-09-09 23:00] macmule commented on #81
In 1.3.4

<img width="532" alt="screenshot 2016-09-09 23 59 50" src="https://cloud.githubusercontent.com/assets/2464974/18405397/9526b50a-76e9-11e6-8ce2-c23e62220a2c.png">

[2016-09-09 23:00] #81 closed

[2016-09-09 23:14] macmule commented on #83
Hi all,

Please test [this pre-release of AutoCasperNBI](https://github.com/macmule/AutoCasperNBI/releases/tag/1.3.4)

I have restructured the folders that AutoCasperNBI puts items into, to avoid this issue in the future:

![screenshot 2016-09-09 23 30 08](https://cloud.githubusercontent.com/assets/2464974/18405625/7793beb4-76eb-11e6-92ba-8ae5f762d801.png)

The restorable.dmg should only be for re

[2016-09-11 19:33] macmule opened #88 "Bounce App icon when attention required"

[2016-09-11 19:34] macmule opened #89 "Add Danish keyboard layout"

[2016-09-11 21:00] macmule commented on #89
In dev build of 1.3.4

[2016-09-11 21:00] #89 closed

[2016-09-11 21:00] macmule commented on #88
Not applicable as app is deemed as "active"

[2016-09-11 21:00] #88 closed

[2016-09-12 09:34] entusdictus commented on #83
@macmule: works perfect, thanks! strange issue because we used to let the .restorable.dmg in the NBI folder for several releases now...

[2016-09-12 11:48] macmule commented on #83
@entusdictus it shouldn't be in there on the NBI server.. i'm guessing you're using a NetSUS or something other an Apple's NetBoot server?

They don't read the NBImageInfo.plist to get the actual DMG, just grep/awk/cut to get an DMG.

But, awesome this is fixed. Closing off.

[2016-09-12 11:48] #83 closed

[2016-09-12 11:49] macmule commented on #76
@dnikles, @mostlikelee & @MScottBlake

Can you test: https://github.com/macmule/AutoCasperNBI/releases/tag/1.3.4 & advise if this resolves?

[2016-09-12 17:07] Zigrat opened #90 "Casper Imaging 9.96 Version (not found)"
![Uploading Casper Imaging 9.73 and 9.96 info.png…]()
There was a change with Casper Imaging application version 9.96 which causes AutoCasperNBI not to find the Casper Imaging.App version which thus won't let your build a Netboot compiled image. I found that Jamf changed the way it handles a few variables within the info.plist file within Casper Imaging contents. It seems they have taken out the <

[2016-09-12 17:31] macmule commented on #90
This has been resolved in 1.3.4 which is in pre-release.

https://github.com/macmule/AutoCasperNBI/issues/84

Check releases, & you should see the pre-release at the top.

[2016-09-13 12:14] dnikles commented on #76
Yes it appears to be working correctly for me. Thanks!
Dustin

From: macmule <notifications@github.com>
Reply-To: macmule/AutoCasperNBI <reply@reply.github.com>
Date: Monday, September 12, 2016 at 7:49 AM
To: macmule/AutoCasperNBI <AutoCasperNBI@noreply.github.com>
Cc: Dustin Nikles <dnikles@lebanon.k12.pa.us>, Mention <mention@noreply.github.com>
Subject: Re: [macmule/AutoCasperNBI] Multiple inst

[2016-09-13 19:22] bkramps opened #91 "Image does not appear as an option in Mac Server NetInstall"
In testing pre-release 1.3.4, after AutoCasperNBI completes, the resulting image is not available in Mac Server Netinstall.  The image is saved to /Library/NetBoot/NetBootSP0 but an extra folder is created which contains the NBI (i.e. /Library/NetBoot/NetBootSP0/MyImage/MyImage.nbi

[2016-09-13 19:38] macmule commented on #91
Hi @bkramps, this is to overcome issues such as: https://github.com/macmule/AutoCasperNBI/issues/83

You'll need to copy the .nbi folder to the root of NetBootSP0.

[2016-09-13 19:58] bkramps commented on #91
Thank you. Moving the folder does put the image as an option.

[2016-09-13 20:18] macmule commented on #91
Great!

It's change that'I'll document, but needed to stop other issues.

[2016-09-18 09:02] macmule commented on #76
thanks.. in 1.3.4 :)

[2016-09-18 09:02] #76 closed

[2016-09-18 09:12] #91 closed

[2016-09-18 09:12] #90 closed

[2016-09-23 16:04] Draeconis opened #92 "'New to Mac?' appears in top-right."

[2016-10-06 02:23] plawrenceCCGS opened #93 "suggestd and cloudkeychainproxy frequent crashes"
Booting into a macOS 10.12 built nbi results in frequent crashes of suggestd and cloudkeychainproxy services. I am not sure if this affects the imaging process though.

[2016-10-19 23:59] rhysforrester opened #94 "Recovered files in Trash"
.nbi created with v1.3.4 (104) using OS.dmg created with AutoDMG v1.6 (452) using 10.12.0 (16A323) - host OS is vanilla 16A323.

I've recreated and replicated this 5 times using both NFS and HTTP. Files seen in Trash attached as screenshot - predominantly Fonts.
![screen shot 2016-10-20 at 9 53 00 am](https://cloud.githubusercontent.com/assets/2081963/19541734/e4dfb326-96ab-11e6-92df-7e2488c004e2.

[2016-11-16 21:53] codewhy17 opened #95 "Not working with new MacBook Pros with touchbar"
The current AutoCasperNBI does not boot on the new MacBook Pros with Touchbar. Can you all please release a new update?

[2016-11-16 22:14] macmule commented on #95
@codewhy17 There are two issues here:

1) The new MBP'a have a forked OS build. So you'll need the correct OS build for them.
2) This is the real issue, you need to use a USB-C to Ethernet adaptor (or collection of dongles), that are supported via the macOS EFI for NetBooting.

Can you see the NBI to attempt the boot of the MBP? Does it attempt to NetBoot & kernel panic?

[2016-11-16 22:29] codewhy17 commented on #95
So I can't even boot the USB. I created the USB using AutoCasperNBI 9.96 with OS 10.12.1

And when I try to boot to the USB in the preboot stage, it gives me the circle with a slash indicating that it can't boot. It never kernel panics but it never loads the USB.

[2016-11-16 22:35] macmule commented on #95
@codewhy17 ok. So sounds like you'be use 10.12.1, but not the correct build of 10.12.1 for that model of Mac.

If you have another, i'd try to capture it's HD from Composer or Disk Utility. Then use that for AutoCasperNBI.

[2016-11-16 22:55] codewhy17 commented on #95
I am capturing using Composer. Looks like it will take a bit. I will pick back up tomorrow and try it out. Thanks for all the insight.

[2016-11-28 13:26] macmule commented on #95
@codewhy17 any update?

[2016-11-28 13:27] macmule commented on #94
@rhysforrester thanks.. seen that recently.. I'll need to dig into it.

[2016-11-28 17:24] codewhy17 commented on #95
Yes. It worked with a captured DMG of the MBP w/ Touchbar HD. It is a different OS build and that made the difference.

[2016-12-02 20:25] jjbyers opened #96 "Unidentified developer error in 1.3.4"
Hello, great app thanks.

Attempting to launch AutoCasperNBI 1.3.4 says it is from an unidentified developer.  The release notes say it is signed, but it does not appear to be or the signature is invalid.

[2016-12-02 20:40] macmule commented on #96
@jjbyers.. yep.. fun right? Signed in XCode.. doesn't always show as signed though.

[2016-12-17 14:39] dan-snelson opened #97 "AutoCasperNBI 1.3.4 & Casper Suite 9.97: Unable to download JSS CA Cert"
When attempting to create a NBI with version 1.3.4 while pointed at a 9.97 JSS, AutoCasperNBI is unable to download the JSS CA Cert.

![screen shot 2016-12-16 at 1 33 32 pm](https://cloud.githubusercontent.com/assets/24623109/21287513/828715a0-c42a-11e6-9bc9-5c91b6cb7a7a.png)

[AutoCasperNBI-2016-12-16.log.txt](https://github.com/macmule/AutoCasperNBI/files/658887/AutoCasperNBI-2016-12-16.log.txt)

[2016-12-17 15:13] dan-snelson commented on #97
Please disregard; I bounced Tomcat and it's working as expected. Thanks.

[2016-12-17 15:13] #97 closed

[2016-12-20 16:44] jeolsen opened #98 "System Preferences/Launchpad missing from Dock"
Building a NBI with AutoCasperNBI based off of 10.12.X results in a Dock only displaying Finder, Casper Imaging, and Trash.  System Preferences and Launchpad are not displayed.  This was tested on 10.12.1 and 10.12.2 with ACNBI 1.3.4.

[2017-01-25 03:43] cubandave opened #99 "Failure to Reboot on 10.12.2 netboot image"
I know this may not be because of AutoCasperNBI but it can't hurt to report it. I have escalated to JAMF support.

Also a discussion on JN: https://www.jamf.com/jamf-nation/discussions/22643/

Our new NetBoot running 10.12.2 and Casper imaging 9.96 is not consistently rebooting when the option is selected. It will just quit Casper imaging and stay logged in. rebooting manually start the first scri

[2017-02-21 14:57] plmcgrn opened #100 "Build process blocks UI until it completes"
I've seen this with apps (mostly Windows), where there is some long-running process that blocks/freezes the UI until it completes.  This seems to happen at the "Copying the contents of the OS.dmg to NetBoot.sparseimage).  This is a progress bar that displays on top of all other UI elements on the Mac, and spinners when trying to relocate it.

Is it possible to make this window movable/non-blocking

[2017-02-27 10:46] macmule commented on #100
@plmcgrn AutoCasperNBI is currently single-threaded. To make the change you're looking for requires the app to be changed to multi-threaded & is not that simple a change I'm afraid.

I'd love to do it, but it's not going to be easy.

[2017-03-04 03:42] plmcgrn commented on #100
Fair enough.  Any way to at least tweak it so the progress bar isn't always on top?

[2017-03-04 08:25] macmule commented on #100
@plmcgrn nope.. sadly

[2017-07-06 17:25] macmule commented on #99
Hey @cubandave. Is this still an issue?

[2017-08-01 06:06] entusdictus opened #101 "System Preference "Keyboard" missing when "Reduce Image Size" is selected"
When choosing the "Reduce Image Size" option, the "Keyboard" prefpane is missing.
For example, when building a NetBoot set that has to be used all over the world in different countries with different keyboard layouts, the correct keyboard layout cannot be selected because of the missing prefpane. Please do not remove this prefpane in order to fix this.

[2017-08-01 07:49] macmule commented on #101
@entusdictus Sounds reasonable.

I'll be doing an update in time for 10.13, so will look to add this in then.

[2017-08-01 07:50] macmule commented on #99
Closing off as cannot replicate with current Casper Imaging versions.

[2017-08-01 07:50] #99 closed

[2017-08-02 14:09] mrperrott opened #102 "AutoCasperNBI 1.3.4 not picking up Casper Imaging 9.99"
When selecting the Casper Imaging 9.99 app, AutoCasperNBI seems to get stuck on 'Examining'.

<img width="278" alt="autocaspernbi" src="https://user-images.githubusercontent.com/30660444/28877642-fb445cd4-776a-11e7-8275-1d764651e4d0.png">

[2017-08-31 06:36] #95 closed

[2017-08-31 08:00] macmule commented on #102
@mrperrott I've not been able to replicate this at all.

[2017-08-31 08:01] macmule commented on #51
So.. i thought about this.. & now with APFS i'm scared to implement.

Sorry fella.

I'll close this one off for now.

[2017-08-31 08:01] #51 closed

[2017-08-31 08:02] macmule commented on #35
Non-issue, so will close off.

[2017-08-31 08:02] #35 closed

[2017-08-31 08:05] macmule opened #103 "APFS Volume support"
With 10.13 a new file system comes, this needs to be detected the mounting the OS.dmg.

The end result is still a HFS NetBoot.dmg, but need to better check the mount-point.

Output from: `/usr/bin/hdiutil attach <os.dmg> -nobrowse -owners on -plist`

10.12:
[code]

10.13:
[code]

[2017-08-31 08:57] macmule commented on #98
Actually, this isn't a bug per se.. but the wrong image on my blog!

The Dock should look like:

![screen shot 2017-08-31 at 1 55 38 am](https://user-images.githubusercontent.com/2464974/29915138-c758a324-8e32-11e7-8364-2d549c3eddf6.png)

com.apple.Dock.plist hasn't been modified since release:

![screenshot 2017-08-31 09 54 20](https://user-images.githubusercontent.com/2464974/29915164-d965d488-8

[2017-08-31 12:20] macmule commented on #94
And now cannot recreate the issue..

[2017-09-06 17:26] TinyAtJamf opened #104 "Jamf Imaging 10.0"
Hey Ben,

Just wanted to give you a heads up. I am doing some testing building NBIs and making sure everything is good with the 10.0 Imaging, and noticed a problem.

With the release of Jamf 10.0, it is switching from Casper Imaging to Jamf Imaging.

As of right now, selecting the Jamf Imaging app ends up with it not recognizing the App. If you already have this on your radar, feel free to close t

[2017-09-06 21:49] macmule commented on #104
thanks @TinyAtJamf.

I'm actually working on 10.13 support as well as v10 & downloaded the DMG this AM :)

Hit a snag with 10.13: [http://openradar.appspot.com/radar?id=6057042104025088](http://openradar.appspot.com/radar?id=6057042104025088)

But will add Jamf Imaging.app support with next release that should be out come JNUC.

I'll likely have some betas for folks to test, so keep an eye out her

[2017-09-07 09:45] #102 closed

[2017-09-07 09:57] macmule commented on #98
Updated blog. Thanks!

[2017-09-07 09:57] #98 closed

[2017-09-07 09:58] macmule commented on #93
@plawrenceCCGS I cannot see these causing issues, & i'd rather keep things as close to what Apple does with SIU.. As such I'll close this off for now

[2017-09-07 09:58] #93 closed

[2017-09-07 09:59] macmule commented on #94
I'l close this one off for now.

[2017-09-07 09:59] #94 closed

[2017-09-07 10:02] macmule commented on #92
Found it!

`# remove "New to Mac?" notification
if [ -e "${mountPoint}/System/Library/LaunchAgents/com.apple.touristd.plist" ]; then
	/bin/rm -rf "${mountPoint}/System/Library/LaunchAgents/com.apple.touristd.plist"
fi`

[2017-09-07 19:35] macmule opened #105 "Generate XPC Cache"
[code]

[2017-09-07 21:53] macmule opened #106 "Cannot build 10.13 APFS NBI on older OS's"
Error during ditto, to check.

[2017-09-13 21:23] macmule commented on #106
<img width="532" alt="screenshot 2017-09-13 21 36 24" src="https://user-images.githubusercontent.com/2464974/30401423-1e99fdc8-98d2-11e7-96c6-aae1c7725d8a.png">

[2017-09-13 21:23] #106 closed

[2017-09-13 21:29] macmule commented on #101
in 1.4.0

[2017-09-13 21:29] #101 closed

[2017-09-13 21:31] macmule commented on #96
Sortof fixed.. the .app is signed.. 10.13 is happy when downloading via Safari.. pre-10.13 says unknown dev...

¯\_(ツ)_/¯

`codesign --verify --deep --strict --verbose=2` is happy too

[2017-09-13 21:31] #96 closed

[2017-09-13 21:33] macmule commented on #92
In 1.4.0

[2017-09-13 21:33] #92 closed

[2017-09-13 21:46] #103 closed

[2017-09-13 21:46] #105 closed

[2017-09-14 13:07] #104 closed

[2017-09-23 13:49] macmule opened #107 "Add Jamf Imaging.app to Dock"

[2017-09-23 13:49] macmule opened #108 "10.13 NBI: Auto Login Sometimes Fails"
When booting to 10.13, auto-login sometimes fails

[2017-09-26 11:56] #107 closed

[2017-09-26 12:03] macmule commented on #108
Looks to be an Apple issue...

TL;DR use NFS unless running Server.app on High Sierra, in which case [read this](http://www.openradar.me/34639788)

## Open Radar
As per: [http://www.openradar.me/34640065](http://www.openradar.me/34640065)

## Summary:
Tested over Server.app: 5.2, 5.3 & 5.4.

When a 10.13.x NetBoot Image, with auto-login enabled, is served over HTTP. Auto-Login fails.

The same 10.

[2017-09-26 12:08] macmule opened #109 "10.13 NBI: Take 8+ minutes to boot"
Looks to be an Apple issue, recreated with SIU.

## Open Radar

As per: [http://www.openradar.me/34251768](http://www.openradar.me/34251768)

## Summary:
10.13 NetBoot images created with SIU from a beta 8, 9 source take 8+ minutes to boot.

## Steps to Reproduce:
1) Create a NetBoot Image with SIU with a Beta 8 or 9 APFS volume as the source
2) Time how long booting to the NetBoot takes (from boo

[2017-09-26 12:13] macmule opened #110 "NetInstall Service NFS on High Sierra"
Not an AutoCasperNBI issue, but related to worth posting

## Open Radar

As per: [http://www.openradar.me/34639788](http://www.openradar.me/34639788)

## Summary:
Trying to Boot an NBI hosted via the NetInstall Service from Server.app 5.4 (17S1207) will fail to boot

## Steps to Reproduce:
1. Create an NBi
2. Add to NetInstall Service
3. Enable NetInstall Service
4. Share NBI over NFS
5. Attempt t

[2017-09-28 20:56] macmule commented on #110
Resolved in Server 5.4 (17S1207).

[2017-09-28 20:56] #110 closed

[2017-11-09 17:57] danprk commented on #108
I built a 10.13.1 nbi and it's not auto logging in, jamf just sits at the temporary adobe install account lock screen.

[2017-11-10 13:53] macmule commented on #108
@danprk ok.. but the NBI logged in? The  AdobeInstall account is a jamf issue & not one for this project.

[2017-11-21 17:17] el2493 opened #111 "Jamf Imaging 10.0 in Restorable DMG"
Hello,

I'm running the most recent version (1.4.0) and when I go through the process it allows me to choose the Jamf Imaging app.  I choose to create a restorable DMG then use that to image a USB drive.  However when I try to use that to image a computer, it boots and runs Casper Imaging (v9.97).  I've tried erasing the USB twice, re-creating the restorable DMG twice, and have made sure the compu

[2017-11-24 13:21] danprk commented on #108
@macmule nbi logged in fine with nfs, sorry i misread this issue

[2017-12-21 13:00] macmule opened #112 "Build Greyed out when major version difference"
<img width="554" alt="screen shot 2017-12-20 at 3 13 21 pm" src="https://user-images.githubusercontent.com/2464974/34256799-e528a178-e64e-11e7-85e9-6ae91fcf5b46.png">

[2017-12-21 13:09] #112 closed

[2018-01-24 23:14] beezoncheg commented on #109
Today Apple has released Server 5.5 with fixes for NetBoot.
10.13.2 image it boots over HTTP in exactly 4 minutes on MacBook Air. Seems that they are fixed this issue (finger crossed)

[2018-05-17 12:21] ctarbox opened #113 "System Administrator Security & Privacy Setting"
AutoCasperNBI Version 1.4.1

The System Administrator's Security & Privacy Setting --> Require password immediately after sleep or screen saver begins is checked. This results in the Netboot set going to a lock screen at sleep. I cannot find where in the netboot set this is triggered as:
ScreenSaver is set to: Never
Energy Saver is set to: Prevent computer from sleeping automatically...
Energy Sav

[2018-05-17 12:27] ctarbox commented on #113
Good Morning!

10.13.4

Cheryl Tarbox
Macintosh System Administrator
LN G101
Binghamton University
ITS Technology Support Services
ctarbox@binghamton.edu <mailto:ctarbox@binghamton.edu>
(607) 777-2870

[2018-05-17 12:43] macmule commented on #113
Morning!

So the change will be with that OS then, will have to dig around when able.

If you could find the plist for that setting, that would be a great help.

[2018-05-17 12:47] ctarbox commented on #113
I see. I will look for the plist and send it off to you when/if I find it. I’m just starting to build new Netboot sets with 10.13.4. I do want to report that I am NOT seeing the 8+ minute boot times. My netboot sets are booting at around 3 min, which is about the same as my El Cap and Sierra netboot sets.

FYI — This doesn’t kick in immediately. I left a test client at the netboot screen when I le

[2018-05-17 13:30] macmule commented on #113
Thanks for the timing report :)

If you find the plist, you can create a pkg that writes it out as needed then add that when creating your NBI as an interim fix.

[2018-05-17 14:18] ctarbox commented on #113
I netbooted a client around 9:30 AM, and it’s still logged it at 10:15. If it proves to be that there is many hours before the screen locks, I’ll be OK with it as is.

Cheryl Tarbox
Macintosh System Administrator
LN G101
Binghamton University
ITS Technology Support Services
ctarbox@binghamton.edu <mailto:ctarbox@binghamton.edu>
(607) 777-2870

[2018-08-02 21:44] hkabik commented on #112
I am seeing this issue in 10.13.6

[2018-08-02 21:46] hkabik opened #114 "Build and options greyed out with 10.13.6"
![screen shot 2018-08-02 at 5 45 30 pm](https://user-images.githubusercontent.com/21319356/43612980-e851dc7e-967b-11e8-9b04-8f63469e34c1.png)

[2018-09-05 17:59] wmehilos commented on #114
Did you point it to an Imaging app before selecting an OS.dmg? If so, try selecting the Imaging app again, I had the same issue and it re-enabled the rest of the options.

[2018-10-04 14:36] ehemmete opened #115 "Trying to build with a 10.14 OS.dmg fails"
The app reports that it cannot read OS version with a 10.14 18A391 apfs dmg from AutoDMG, but this appears to be cosmetic.
When trying to build the process stops with error "Disabling Software Update".

The log file shows:
Thu Oct 4 09:01:26 CDT 2018 Deleting /Volumes/JLL_JAMF_Imaging_10.7.1/System/Library/CoreServices/Software Update.app
Thu Oct 4 09:01:27 CDT 2018 Deleted /Volumes/JLL_JAMF_Imagi

[2018-10-09 09:06] macmule commented on #108
Looks to have been resolved within a more recent 10.13.x update

[2018-10-09 09:06] #108 closed

[2018-10-09 09:06] macmule commented on #109
Looks to have been resolved within a more recent 10.13.x update

[2018-10-09 09:06] #109 closed

[2018-10-09 09:07] #100 closed

[2018-10-09 19:17] mcajina74 opened #116 "Disk Utility not working in macOS Sierra NBI created with AutoCasperNBI 1.4.1"
It can't format a drive whether launched manually, or when it is part of a Jamf Imaging configuration workflow.

[2018-10-10 09:00] macmule commented on #116
Disk Utility has got worse over the years.. what errors are you seeing?

Can you try via the command line?

[2018-10-10 19:50] mcajina74 commented on #116
If I use the GUI, I get this error:

[code]

If I use CLI, I get these:

[code]

[code]

[2018-10-11 13:16] macmule commented on #116
@mcajina74 are you netbooting over HTTP?

[2018-10-11 15:02] mcajina74 commented on #116
No, we use NFS.

The current NBI is Mac OS 10.12.6 (16G1510) with Jamf Imaging 10.7.1. But we started experiencing the problem with our previous NBI running Mac OS 10.12.6 (16G29) with Casper Imaging 9.101.4.

[2018-10-11 15:49] neilmartin83 commented on #116
@mcajina74 did you generate the NBI using the alternate rc.netboot advanced option? https://macmule.com/projects/autocaspernbi/#rcnetboot

[2018-10-11 16:59] mcajina74 commented on #116
No, we don't use that option because generally we image only two computers at a time.

[2018-10-11 17:10] TinyAtJamf commented on #116
That makes the NBI boot in diskless mode. What is happening right now is that it is booting the NBI from the disk, making the disk mounted. If you have it checked for the modified rc.netboot, and have it boot in Diskless this should fix this issue.

[2018-10-11 17:10] macmule commented on #116
Ah ha!

Please create another NBI with that option checked, test then report back!

On Thu, 11 Oct 2018 at 17:59, mcajina74 <notifications@github.com> wrote:

--

Regards,

Ben

[2018-10-11 20:39] mcajina74 commented on #116
OK, it seems to have worked, but the output reads:

`Initialized /dev/rdisk0s2 as a 233GB case-sensitive HFS Plus volume with a 24576k journal
`

I didn't choose the "case-sensitive" option from the drop-down menu. It was just in the default, plain "Mac OS Extended (Journaled)" option.

[2018-10-16 19:14] macmule commented on #116
@mcajina74 So we've got past an issue with AutoCasperNBI.. to find an issue with Disk Utility it seems?

I'd advise reaching out to folks on the macadmins slack to see if they can assist.

As this is no long an issue with AutoCasperNBI, I'll close this off.

[2018-10-16 19:14] #116 closed

[2018-10-16 19:45] macmule commented on #114
Can reproduce :( Will sort

[2018-10-16 19:47] macmule opened #117 "Dark Mode"
yahp!

[2018-10-16 19:48] macmule opened #118 "Mojave Support"
Remove "System Events" calls etc

[2018-10-16 20:00] macmule opened #119 "Fix incrementing CFBundleVersion"
From:

[code]
To:

[code]

[2018-10-16 20:32] macmule commented on #119
In 1.5.0

[2018-10-16 20:32] #119 closed

[2018-10-16 20:32] macmule commented on #117
In 1.5.0

[2018-10-16 20:32] #117 closed

[2018-10-17 15:47] macmule commented on #115
@ehemmete I cannot recreate with a release version of Mojave.. but have been updating AutoCasperNBI.

I'll ping you a copy on Slack, if you can test this week that would be great!

Hoping to release soon

[2018-10-17 15:47] #115 closed

[2018-10-18 21:08] macmule commented on #113
Closing as should be ok as-is

[2018-10-18 21:08] #113 closed

[2018-10-18 21:09] macmule commented on #66
Seems to be resolved with Jamf Imaging

[2018-10-18 21:09] #66 closed

[2018-10-18 21:09] macmule commented on #114
fixed in 1.5.0

[2018-10-18 21:09] #114 closed

[2018-10-18 21:09] macmule commented on #118
In 1.5.0

[2018-10-18 21:09] #118 closed

[2018-10-18 21:14] ctarbox commented on #113
Thank you!

[2018-10-18 21:15] macmule commented on #112
@hkabik should be fixed in 1.5.0

[2018-10-26 20:03] macmule opened #120 "Update version check"
As per h/t from Sam in JSS-API:

https://jssurl/JSSCheckConnection

[2018-11-05 10:31] chriszanf opened #121 "Doesn't like Imaging Tool 10.8"
If I select the Jamf Imaging tool version 10.8, it shows the 'checking' gif constantly and never completes.

Used version 10.7.1 and worked instantly

[2018-11-08 19:12] ehemmete opened #122 "Mojave Custom Desktop"
With a macOS 10.14.1 (18B75) base image, the custom Desktop image is not being shown when the NBI is used.  The file is copied over properly to /System/Library/CoreServices/DefaultDesktop.jpg, but doesn't seem to be used. On the NBI there are symbolic links in that same directory that seem to take precedence.  System Preferences shows that the Dynamic Mojave.heic is what is used by the system.
lrw

[2018-11-26 19:32] macmule commented on #121
@chriszanf I cannot recreate, is this still an issue?

Can you post the logs?

<img width="221" alt="screenshot 2018-11-26 19 31 24" src="https://user-images.githubusercontent.com/2464974/49037371-f4996880-f1b1-11e8-8cd4-8cfd1df63864.png">

[2018-11-27 10:38] monodata commented on #121
@macmule This is whats in ~/Library/Logs/AutoCasperNBI

![screenshot 2018-11-27 at 10 36 29](https://user-images.githubusercontent.com/45035282/49076321-9d86a880-f230-11e8-8ce7-d413298cf796.png)

[2018-11-27 10:45] chriszanf commented on #121
@macmule  This is whats in ~/Library/Logs/AutoCasperNBI

And the app just does this...

![screenshot 2018-11-27 at 10 36 29](https://user-images.githubusercontent.com/1395605/49076687-7da3b480-f231-11e8-8026-fa527ad4491e.png)

[2018-11-27 11:53] macmule commented on #121
Odd, what are the permissions on the "Jamf Imaging.app"?

On Tue, 27 Nov 2018 at 10:45, chriszanf <notifications@github.com> wrote:

--

Regards,

Ben

[2018-11-27 12:33] chriszanf commented on #121
`drwxr-xr-x@ 4 root  wheel   128B 22 Nov 10:37 Jamf Imaging.app/`

[2018-11-29 09:17] chriszanf commented on #121
I'm betting its down to the McAfee AV we use.. The thing is a PITA!

[2019-03-02 21:18] macmule commented on #121
@chriszanf tried with McAfee disabled?

[2019-03-02 21:19] macmule commented on #120
Found some cases where this would not work, so no longer looking at this

[2019-03-02 21:19] #120 closed

[2019-03-02 21:20] macmule opened #123 "Correctly Sign"
Doh!

[2019-03-04 22:19] macmule commented on #122
In 1.5.1

[2019-03-04 22:19] #122 closed

[2019-03-04 22:20] #123 closed

[2019-03-04 22:43] macmule commented on #121
Blaming AV.. closing this one off

[2019-03-04 22:43] #121 closed

[2019-03-05 09:36] chriszanf commented on #121
Apologies - been off ill the last few days & mostly afk.

I'd put it down to AV as I rebuilt my machine and haven't encounter the issue since.

[2019-03-05 11:48] macmule commented on #121
@chriszanf hope you're better! & i'm always down for blaming AV

[2019-05-04 07:52] arj22 opened #124 "Image app selection doesn't seem to work"
When I select the Casper Imaging app, the logs suggest that the app has been selected but the AutoCasperNBI doesn't show a change and thus the other options are greyed out.

[code]

![image](https://user-images.githubusercontent.com/16482322/57175926-cf271f80-6e1f-11e9-87ee-18d577e62019.png)

OS version: 10.14.4 Mojave
Casper app version: 6.0.1

[2019-05-04 11:03] macmule commented on #124
@arj22 the imaging apps needs to be Casper Imaging.app or Jamf Imaging.app.

Looks like you tried Casper NetInstall Creator.app

[2019-05-04 19:20] #124 closed

[2019-09-26 09:51] dfuriet opened #125 "Create a nbi with autocaspernbi and "InstallESD.dmg" of Mojave install"
Hi,

I have problem with aitocaspernbi and InstallESD.dmg of a Mojave install : when I select InstallESD.dmg, I'ts said : Cannot read OS Version. It's not possible to use this dmg ?

I've tried to create nbi with a autodmg for using with autocaspernbi, but my nbi is too big to download on Netboot

My autocaspernbi is 1.5.2

Thanks

[2019-09-26 09:52] macmule commented on #125
@dfuriet You don't give AutoCasperNBI a InstallSED.dmg, but an AutoDMG created OS.dmg.

[2019-09-26 10:00] dfuriet commented on #125
Ok, but how to reduce dmg ?

[2019-11-09 20:31] #125 closed, assigned to nobody